## Selecting columns : Transforming and adding a column

In [1]:
import polars as pl

In [2]:
csv_file = "data/titanic.csv"

In [3]:
df = pl.read_csv(csv_file)
df.head(3)

shape: (3, 12)
┌─────────────┬──────────┬────────┬───────────────────┬───┬───────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name              ┆ … ┆ Ticket    ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---               ┆   ┆ ---       ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str               ┆   ┆ str       ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═══════════════════╪═══╪═══════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen  ┆ … ┆ A/5 21171 ┆ 7.25    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Harris            ┆   ┆           ┆         ┆       ┆          │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.     ┆ … ┆ PC 17599  ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ John Bradley (Fl… ┆   ┆           ┆         ┆       ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss.  ┆ … ┆ STON/O2.  ┆ 7.925   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Laina             ┆   ┆ 3101282   ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴───────────────────┴───┴───────────┴─────────┴───────┴──────────┘

## Transforming an existing column

We can transform an existing column by passing the column to `with_columns`.

In [4]:
df.with_columns(
    pl.col("Fare").round(0)
).head(3)

shape: (3, 12)
┌─────────────┬──────────┬────────┬──────────────────────┬───┬───────────┬──────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name                 ┆ … ┆ Ticket    ┆ Fare ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                  ┆   ┆ ---       ┆ ---  ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                  ┆   ┆ str       ┆ f64  ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪══════════════════════╪═══╪═══════════╪══════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen     ┆ … ┆ A/5 21171 ┆ 7.0  ┆ null  ┆ S        │
│             ┆          ┆        ┆ Harris               ┆   ┆           ┆      ┆       ┆          │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs. John   ┆ … ┆ PC 17599  ┆ 71.0 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ Bradley (Fl…         ┆   ┆           ┆      ┆       ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss.     ┆ … ┆ STON/O2.  ┆ 8.0  ┆ null  ┆ S        │
│             ┆          ┆        ┆ Laina                ┆   ┆ 3101282   ┆      ┆       ┆          │
└─────────────┴──────────┴────────┴──────────────────────┴───┴───────────┴──────┴───────┴──────────┘

## Adding a new column from an existing column
We can create a new column from an existing column by renaming it with `alias`

In [5]:
df.with_columns(
    pl.col("Fare").round(0).alias("roundFare")
).head(3)

shape: (3, 13)
┌─────────────┬──────────┬────────┬───────────────────┬───┬─────────┬───────┬──────────┬───────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name              ┆ … ┆ Fare    ┆ Cabin ┆ Embarked ┆ roundFare │
│ ---         ┆ ---      ┆ ---    ┆ ---               ┆   ┆ ---     ┆ ---   ┆ ---      ┆ ---       │
│ i64         ┆ i64      ┆ i64    ┆ str               ┆   ┆ f64     ┆ str   ┆ str      ┆ f64       │
╞═════════════╪══════════╪════════╪═══════════════════╪═══╪═════════╪═══════╪══════════╪═══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen  ┆ … ┆ 7.25    ┆ null  ┆ S        ┆ 7.0       │
│             ┆          ┆        ┆ Harris            ┆   ┆         ┆       ┆          ┆           │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.     ┆ … ┆ 71.2833 ┆ C85   ┆ C        ┆ 71.0      │
│             ┆          ┆        ┆ John Bradley (Fl… ┆   ┆         ┆       ┆          ┆           │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss.  ┆ … ┆ 7.925   ┆ null  ┆ S        ┆ 8.0       │
│             ┆          ┆        ┆ Laina             ┆   ┆         ┆       ┆          ┆           │
└─────────────┴──────────┴────────┴───────────────────┴───┴─────────┴───────┴──────────┴───────────┘

>**Note:** Polars doesn't support `[]` to create new column.

We can also create the new column by assigning the column name equal to the expression

In [6]:
df.with_columns(
    RoundFare = pl.col("Fare").round(0)
).head(3)

shape: (3, 13)
┌─────────────┬──────────┬────────┬───────────────────┬───┬─────────┬───────┬──────────┬───────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name              ┆ … ┆ Fare    ┆ Cabin ┆ Embarked ┆ RoundFare │
│ ---         ┆ ---      ┆ ---    ┆ ---               ┆   ┆ ---     ┆ ---   ┆ ---      ┆ ---       │
│ i64         ┆ i64      ┆ i64    ┆ str               ┆   ┆ f64     ┆ str   ┆ str      ┆ f64       │
╞═════════════╪══════════╪════════╪═══════════════════╪═══╪═════════╪═══════╪══════════╪═══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen  ┆ … ┆ 7.25    ┆ null  ┆ S        ┆ 7.0       │
│             ┆          ┆        ┆ Harris            ┆   ┆         ┆       ┆          ┆           │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.     ┆ … ┆ 71.2833 ┆ C85   ┆ C        ┆ 71.0      │
│             ┆          ┆        ┆ John Bradley (Fl… ┆   ┆         ┆       ┆          ┆           │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss.  ┆ … ┆ 7.925   ┆ null  ┆ S        ┆ 8.0       │
│             ┆          ┆        ┆ Laina             ┆   ┆         ┆       ┆          ┆           │
└─────────────┴──────────┴────────┴───────────────────┴───┴─────────┴───────┴──────────┴───────────┘

## Difference between `with_columns` and `select`
- The `select` method returns a subset of the columns but `with_columns` method returns all of the columns.
- `with_columns` accepts expressions only - no strings.

## Adding or transforming a column with column arithmetic

We can transform columns with arithmetic in an expression.

In [7]:
df.with_columns(
    (pl.col("Fare") * 2).alias("doubleFare")
).head(3)

shape: (3, 13)
┌─────────────┬──────────┬────────┬──────────────────┬───┬─────────┬───────┬──────────┬────────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name             ┆ … ┆ Fare    ┆ Cabin ┆ Embarked ┆ doubleFare │
│ ---         ┆ ---      ┆ ---    ┆ ---              ┆   ┆ ---     ┆ ---   ┆ ---      ┆ ---        │
│ i64         ┆ i64      ┆ i64    ┆ str              ┆   ┆ f64     ┆ str   ┆ str      ┆ f64        │
╞═════════════╪══════════╪════════╪══════════════════╪═══╪═════════╪═══════╪══════════╪════════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen ┆ … ┆ 7.25    ┆ null  ┆ S        ┆ 14.5       │
│             ┆          ┆        ┆ Harris           ┆   ┆         ┆       ┆          ┆            │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.    ┆ … ┆ 71.2833 ┆ C85   ┆ C        ┆ 142.5666   │
│             ┆          ┆        ┆ John Bradley     ┆   ┆         ┆       ┆          ┆            │
│             ┆          ┆        ┆ (Fl…             ┆   ┆         ┆       ┆          ┆            │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss. ┆ … ┆ 7.925   ┆ null  ┆ S        ┆ 15.85      │
│             ┆          ┆        ┆ Laina            ┆   ┆         ┆       ┆          ┆            │
└─────────────┴──────────┴────────┴──────────────────┴───┴─────────┴───────┴──────────┴────────────┘

We can also do arithmetic multiple columns in an expression.

In [8]:
df.with_columns(
    (pl.col("Fare") + pl.col("Age")).alias("farePlusAge")
).head(3)

shape: (3, 13)
┌─────────────┬──────────┬────────┬─────────────────┬───┬─────────┬───────┬──────────┬─────────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name            ┆ … ┆ Fare    ┆ Cabin ┆ Embarked ┆ farePlusAge │
│ ---         ┆ ---      ┆ ---    ┆ ---             ┆   ┆ ---     ┆ ---   ┆ ---      ┆ ---         │
│ i64         ┆ i64      ┆ i64    ┆ str             ┆   ┆ f64     ┆ str   ┆ str      ┆ f64         │
╞═════════════╪══════════╪════════╪═════════════════╪═══╪═════════╪═══════╪══════════╪═════════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr.     ┆ … ┆ 7.25    ┆ null  ┆ S        ┆ 29.25       │
│             ┆          ┆        ┆ Owen Harris     ┆   ┆         ┆       ┆          ┆             │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.   ┆ … ┆ 71.2833 ┆ C85   ┆ C        ┆ 109.2833    │
│             ┆          ┆        ┆ John Bradley    ┆   ┆         ┆       ┆          ┆             │
│             ┆          ┆        ┆ (Fl…            ┆   ┆         ┆       ┆          ┆             │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen,      ┆ … ┆ 7.925   ┆ null  ┆ S        ┆ 33.925      │
│             ┆          ┆        ┆ Miss. Laina     ┆   ┆         ┆       ┆          ┆             │
└─────────────┴──────────┴────────┴─────────────────┴───┴─────────┴───────┴──────────┴─────────────┘

Or use `.add()`

In [9]:
df.with_columns(
    (pl.col("Fare").add(pl.col("Age"))).alias("farePlusAge")
).head(3)

shape: (3, 13)
┌─────────────┬──────────┬────────┬─────────────────┬───┬─────────┬───────┬──────────┬─────────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name            ┆ … ┆ Fare    ┆ Cabin ┆ Embarked ┆ farePlusAge │
│ ---         ┆ ---      ┆ ---    ┆ ---             ┆   ┆ ---     ┆ ---   ┆ ---      ┆ ---         │
│ i64         ┆ i64      ┆ i64    ┆ str             ┆   ┆ f64     ┆ str   ┆ str      ┆ f64         │
╞═════════════╪══════════╪════════╪═════════════════╪═══╪═════════╪═══════╪══════════╪═════════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr.     ┆ … ┆ 7.25    ┆ null  ┆ S        ┆ 29.25       │
│             ┆          ┆        ┆ Owen Harris     ┆   ┆         ┆       ┆          ┆             │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.   ┆ … ┆ 71.2833 ┆ C85   ┆ C        ┆ 109.2833    │
│             ┆          ┆        ┆ John Bradley    ┆   ┆         ┆       ┆          ┆             │
│             ┆          ┆        ┆ (Fl…            ┆   ┆         ┆       ┆          ┆             │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen,      ┆ … ┆ 7.925   ┆ null  ┆ S        ┆ 33.925      │
│             ┆          ┆        ┆ Miss. Laina     ┆   ┆         ┆       ┆          ┆             │
└─────────────┴──────────┴────────┴─────────────────┴───┴─────────┴───────┴──────────┴─────────────┘

The mapping from python operators to expressions are:
- `==` to `eq`
- `//` to `floordiv`
- `> ` to `gt`
- `>=` to `ge`
- `< ` to `lt`
- `<=` to `le`
- `% ` to `mod`
- `!=` to `ne`
- `- ` to `sub`
- `/ ` to `truediv`
- `^ ` to `xor`
- `* ` to `mul`

## Adding a new column with a constant value

Use the literal function `pl.lit` to specify a constant value in Polars.

In [10]:
df.with_columns(
    pl.lit("yes").alias("Aboard")
).select("Name", "Aboard").head(3)

shape: (3, 2)
┌─────────────────────────────────┬────────┐
│ Name                            ┆ Aboard │
│ ---                             ┆ ---    │
│ str                             ┆ str    │
╞═════════════════════════════════╪════════╡
│ Braund, Mr. Owen Harris         ┆ yes    │
│ Cumings, Mrs. John Bradley (Fl… ┆ yes    │
│ Heikkinen, Miss. Laina          ┆ yes    │
└─────────────────────────────────┴────────┘

## Exercises

### Exercise 1

Add a new column called `familySize` which is the sum of the number of siblings (`SibSp` columns), the number of parents or children (`Parch` columns) plus one for the passenger themself.

Print out the first 3 rows.

In [12]:
df.with_columns(
    familySize = (pl.col("SibSp").add(pl.col("Parch")) + 1)
).head(3)

shape: (3, 13)
┌─────────────┬──────────┬────────┬──────────────────┬───┬─────────┬───────┬──────────┬────────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name             ┆ … ┆ Fare    ┆ Cabin ┆ Embarked ┆ familySize │
│ ---         ┆ ---      ┆ ---    ┆ ---              ┆   ┆ ---     ┆ ---   ┆ ---      ┆ ---        │
│ i64         ┆ i64      ┆ i64    ┆ str              ┆   ┆ f64     ┆ str   ┆ str      ┆ i64        │
╞═════════════╪══════════╪════════╪══════════════════╪═══╪═════════╪═══════╪══════════╪════════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen ┆ … ┆ 7.25    ┆ null  ┆ S        ┆ 2          │
│             ┆          ┆        ┆ Harris           ┆   ┆         ┆       ┆          ┆            │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.    ┆ … ┆ 71.2833 ┆ C85   ┆ C        ┆ 2          │
│             ┆          ┆        ┆ John Bradley     ┆   ┆         ┆       ┆          ┆            │
│             ┆          ┆        ┆ (Fl…             ┆   ┆         ┆       ┆          ┆            │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss. ┆ … ┆ 7.925   ┆ null  ┆ S        ┆ 1          │
│             ┆          ┆        ┆ Laina            ┆   ┆         ┆       ┆          ┆            │
└─────────────┴──────────┴────────┴──────────────────┴───┴─────────┴───────┴──────────┴────────────┘

### Exercise 2 

Add a new column called `decade` that converts the `Age` column to the passengers age in decades e.g. 15.2 goes to 10, where 10 is an integer.

Print out the first 3 rows.

In [13]:
df.with_columns(
    decade = ((pl.col("Age") / 10).floor()).cast(pl.Int64)
).head(3)

shape: (3, 13)
┌─────────────┬──────────┬────────┬──────────────────────┬───┬─────────┬───────┬──────────┬────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name                 ┆ … ┆ Fare    ┆ Cabin ┆ Embarked ┆ decade │
│ ---         ┆ ---      ┆ ---    ┆ ---                  ┆   ┆ ---     ┆ ---   ┆ ---      ┆ ---    │
│ i64         ┆ i64      ┆ i64    ┆ str                  ┆   ┆ f64     ┆ str   ┆ str      ┆ i64    │
╞═════════════╪══════════╪════════╪══════════════════════╪═══╪═════════╪═══════╪══════════╪════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen     ┆ … ┆ 7.25    ┆ null  ┆ S        ┆ 2      │
│             ┆          ┆        ┆ Harris               ┆   ┆         ┆       ┆          ┆        │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs. John   ┆ … ┆ 71.2833 ┆ C85   ┆ C        ┆ 3      │
│             ┆          ┆        ┆ Bradley (Fl…         ┆   ┆         ┆       ┆          ┆        │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss.     ┆ … ┆ 7.925   ┆ null  ┆ S        ┆ 2      │
│             ┆          ┆        ┆ Laina                ┆   ┆         ┆       ┆          ┆        │
└─────────────┴──────────┴────────┴──────────────────────┴───┴─────────┴───────┴──────────┴────────┘

### Exercise 3
Create a new literal column

Add a new binary column called `Aboard` that has the value `1` for all passengers.

Print out the first 3 rows

In [14]:
df.with_columns(
    Aboard = pl.lit(1)
).head(3)

shape: (3, 13)
┌─────────────┬──────────┬────────┬──────────────────────┬───┬─────────┬───────┬──────────┬────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name                 ┆ … ┆ Fare    ┆ Cabin ┆ Embarked ┆ Aboard │
│ ---         ┆ ---      ┆ ---    ┆ ---                  ┆   ┆ ---     ┆ ---   ┆ ---      ┆ ---    │
│ i64         ┆ i64      ┆ i64    ┆ str                  ┆   ┆ f64     ┆ str   ┆ str      ┆ i32    │
╞═════════════╪══════════╪════════╪══════════════════════╪═══╪═════════╪═══════╪══════════╪════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen     ┆ … ┆ 7.25    ┆ null  ┆ S        ┆ 1      │
│             ┆          ┆        ┆ Harris               ┆   ┆         ┆       ┆          ┆        │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs. John   ┆ … ┆ 71.2833 ┆ C85   ┆ C        ┆ 1      │
│             ┆          ┆        ┆ Bradley (Fl…         ┆   ┆         ┆       ┆          ┆        │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss.     ┆ … ┆ 7.925   ┆ null  ┆ S        ┆ 1      │
│             ┆          ┆        ┆ Laina                ┆   ┆         ┆       ┆          ┆        │
└─────────────┴──────────┴────────┴──────────────────────┴───┴─────────┴───────┴──────────┴────────┘

### Exercise 4

Add a new Boolean column `overThirty` that captures whether a passenger's age is 30 years or older

In [16]:
df.with_columns(
    overThirty = (pl.col("Age") >= 30)
).head()

shape: (5, 13)
┌─────────────┬──────────┬────────┬──────────────────┬───┬─────────┬───────┬──────────┬────────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name             ┆ … ┆ Fare    ┆ Cabin ┆ Embarked ┆ overThirty │
│ ---         ┆ ---      ┆ ---    ┆ ---              ┆   ┆ ---     ┆ ---   ┆ ---      ┆ ---        │
│ i64         ┆ i64      ┆ i64    ┆ str              ┆   ┆ f64     ┆ str   ┆ str      ┆ bool       │
╞═════════════╪══════════╪════════╪══════════════════╪═══╪═════════╪═══════╪══════════╪════════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen ┆ … ┆ 7.25    ┆ null  ┆ S        ┆ false      │
│             ┆          ┆        ┆ Harris           ┆   ┆         ┆       ┆          ┆            │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.    ┆ … ┆ 71.2833 ┆ C85   ┆ C        ┆ true       │
│             ┆          ┆        ┆ John Bradley     ┆   ┆         ┆       ┆          ┆            │
│             ┆          ┆        ┆ (Fl…             ┆   ┆         ┆       ┆          ┆            │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss. ┆ … ┆ 7.925   ┆ null  ┆ S        ┆ false      │
│             ┆          ┆        ┆ Laina            ┆   ┆         ┆       ┆          ┆            │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs.   ┆ … ┆ 53.1    ┆ C123  ┆ S        ┆ true       │
│             ┆          ┆        ┆ Jacques Heath (… ┆   ┆         ┆       ┆          ┆            │
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr.       ┆ … ┆ 8.05    ┆ null  ┆ S        ┆ true       │
│             ┆          ┆        ┆ William Henry    ┆   ┆         ┆       ┆          ┆            │
└─────────────┴──────────┴────────┴──────────────────┴───┴─────────┴───────┴──────────┴────────────┘