# Sorting and fast-track algorithms

In [2]:
import polars as pl

In [3]:
csv_file = "data/titanic.csv"

In [4]:
df = pl.read_csv(csv_file)
df.head(3)

shape: (3, 12)
┌─────────────┬──────────┬────────┬───────────────────┬───┬───────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name              ┆ … ┆ Ticket    ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---               ┆   ┆ ---       ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str               ┆   ┆ str       ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═══════════════════╪═══╪═══════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen  ┆ … ┆ A/5 21171 ┆ 7.25    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Harris            ┆   ┆           ┆         ┆       ┆          │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.     ┆ … ┆ PC 17599  ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ John Bradley (Fl… ┆   ┆           ┆         ┆       ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss.  ┆ … ┆ STON/O2.  ┆ 7.925   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Laina             ┆   ┆ 3101282   ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴───────────────────┴───┴───────────┴─────────┴───────┴──────────┘

`pl.Config` to adjust the default so that only 4 rows of a `DataFrame` are printed in this notebook

In [5]:
pl.Config.set_tbl_rows(4)

polars.config.Config

## Sorting a `DataFrame`

### Using the `sort` method on `DataFrame`

We can sort a `DataFrame` on a column with the `sort` method

In [6]:
df.sort("Age")

shape: (891, 12)
┌─────────────┬──────────┬────────┬───────────────────────┬───┬────────┬────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name                  ┆ … ┆ Ticket ┆ Fare   ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                   ┆   ┆ ---    ┆ ---    ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                   ┆   ┆ str    ┆ f64    ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═══════════════════════╪═══╪════════╪════════╪═══════╪══════════╡
│ 6           ┆ 0        ┆ 3      ┆ Moran, Mr. James      ┆ … ┆ 330877 ┆ 8.4583 ┆ null  ┆ Q        │
│ 18          ┆ 1        ┆ 2      ┆ Williams, Mr. Charles ┆ … ┆ 244373 ┆ 13.0   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Eugene                ┆   ┆        ┆        ┆       ┆          │
│ …           ┆ …        ┆ …      ┆ …                     ┆ … ┆ …      ┆ …      ┆ …     ┆ …        │
│ 852         ┆ 0        ┆ 3      ┆ Svensson, Mr. Johan   ┆ … ┆ 347060 ┆ 7.775  ┆ null  ┆ S        │
│ 631         ┆ 1        ┆ 1      ┆ Barkworth, Mr.        ┆ … ┆ 27042  ┆ 30.0   ┆ A23   ┆ S        │
│             ┆          ┆        ┆ Algernon Henry …      ┆   ┆        ┆        ┆       ┆          │
└─────────────┴──────────┴────────┴───────────────────────┴───┴────────┴────────┴───────┴──────────┘

By default `null` values are at the start of the sort. 

Move the `nulls` to the end of the sort by setting the `nulls_last` argument to `True`

In [7]:
df.sort("Age", nulls_last=True)

shape: (891, 12)
┌─────────────┬──────────┬────────┬───────────────────┬───┬────────────┬────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name              ┆ … ┆ Ticket     ┆ Fare   ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---               ┆   ┆ ---        ┆ ---    ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str               ┆   ┆ str        ┆ f64    ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═══════════════════╪═══╪════════════╪════════╪═══════╪══════════╡
│ 804         ┆ 1        ┆ 3      ┆ Thomas, Master.   ┆ … ┆ 2625       ┆ 8.5167 ┆ null  ┆ C        │
│             ┆          ┆        ┆ Assad Alexande…   ┆   ┆            ┆        ┆       ┆          │
│ 756         ┆ 1        ┆ 2      ┆ Hamalainen,       ┆ … ┆ 250649     ┆ 14.5   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Master. Viljo     ┆   ┆            ┆        ┆       ┆          │
│ …           ┆ …        ┆ …      ┆ …                 ┆ … ┆ …          ┆ …      ┆ …     ┆ …        │
│ 879         ┆ 0        ┆ 3      ┆ Laleff, Mr.       ┆ … ┆ 349217     ┆ 7.8958 ┆ null  ┆ S        │
│             ┆          ┆        ┆ Kristo            ┆   ┆            ┆        ┆       ┆          │
│ 889         ┆ 0        ┆ 3      ┆ Johnston, Miss.   ┆ … ┆ W./C. 6607 ┆ 23.45  ┆ null  ┆ S        │
│             ┆          ┆        ┆ Catherine Hele…   ┆   ┆            ┆        ┆       ┆          │
└─────────────┴──────────┴────────┴───────────────────┴───┴────────────┴────────┴───────┴──────────┘

We can sort in reverse order with the `descending` argument.

In [9]:
df.sort("Age", descending=True, nulls_last=True)

shape: (891, 12)
┌─────────────┬──────────┬────────┬───────────────────┬───┬────────────┬────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name              ┆ … ┆ Ticket     ┆ Fare   ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---               ┆   ┆ ---        ┆ ---    ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str               ┆   ┆ str        ┆ f64    ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═══════════════════╪═══╪════════════╪════════╪═══════╪══════════╡
│ 631         ┆ 1        ┆ 1      ┆ Barkworth, Mr.    ┆ … ┆ 27042      ┆ 30.0   ┆ A23   ┆ S        │
│             ┆          ┆        ┆ Algernon Henry …  ┆   ┆            ┆        ┆       ┆          │
│ 852         ┆ 0        ┆ 3      ┆ Svensson, Mr.     ┆ … ┆ 347060     ┆ 7.775  ┆ null  ┆ S        │
│             ┆          ┆        ┆ Johan             ┆   ┆            ┆        ┆       ┆          │
│ …           ┆ …        ┆ …      ┆ …                 ┆ … ┆ …          ┆ …      ┆ …     ┆ …        │
│ 879         ┆ 0        ┆ 3      ┆ Laleff, Mr.       ┆ … ┆ 349217     ┆ 7.8958 ┆ null  ┆ S        │
│             ┆          ┆        ┆ Kristo            ┆   ┆            ┆        ┆       ┆          │
│ 889         ┆ 0        ┆ 3      ┆ Johnston, Miss.   ┆ … ┆ W./C. 6607 ┆ 23.45  ┆ null  ┆ S        │
│             ┆          ┆        ┆ Catherine Hele…   ┆   ┆            ┆        ┆       ┆          │
└─────────────┴──────────┴────────┴───────────────────┴───┴────────────┴────────┴───────┴──────────┘

## Sort on multiple columns
We can sort based on multiple columns with a list

In [10]:
df.sort(["Pclass", "Age"])

shape: (891, 12)
┌─────────────┬──────────┬────────┬────────────────────┬───┬──────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name               ┆ … ┆ Ticket   ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                ┆   ┆ ---      ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                ┆   ┆ str      ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪════════════════════╪═══╪══════════╪═════════╪═══════╪══════════╡
│ 296         ┆ 0        ┆ 1      ┆ Lewy, Mr. Ervin G  ┆ … ┆ PC 17612 ┆ 27.7208 ┆ null  ┆ C        │
│ 186         ┆ 0        ┆ 1      ┆ Rood, Mr. Hugh     ┆ … ┆ 113767   ┆ 50.0    ┆ A32   ┆ S        │
│             ┆          ┆        ┆ Roscoe             ┆   ┆          ┆         ┆       ┆          │
│ …           ┆ …        ┆ …      ┆ …                  ┆ … ┆ …        ┆ …       ┆ …     ┆ …        │
│ 117         ┆ 0        ┆ 3      ┆ Connors, Mr.       ┆ … ┆ 370369   ┆ 7.75    ┆ null  ┆ Q        │
│             ┆          ┆        ┆ Patrick            ┆   ┆          ┆         ┆       ┆          │
│ 852         ┆ 0        ┆ 3      ┆ Svensson, Mr.      ┆ … ┆ 347060   ┆ 7.775   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Johan              ┆   ┆          ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴────────────────────┴───┴──────────┴─────────┴───────┴──────────┘

comma-separated strings

In [11]:
df.sort("Pclass", "Age")

shape: (891, 12)
┌─────────────┬──────────┬────────┬────────────────────┬───┬──────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name               ┆ … ┆ Ticket   ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                ┆   ┆ ---      ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                ┆   ┆ str      ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪════════════════════╪═══╪══════════╪═════════╪═══════╪══════════╡
│ 296         ┆ 0        ┆ 1      ┆ Lewy, Mr. Ervin G  ┆ … ┆ PC 17612 ┆ 27.7208 ┆ null  ┆ C        │
│ 186         ┆ 0        ┆ 1      ┆ Rood, Mr. Hugh     ┆ … ┆ 113767   ┆ 50.0    ┆ A32   ┆ S        │
│             ┆          ┆        ┆ Roscoe             ┆   ┆          ┆         ┆       ┆          │
│ …           ┆ …        ┆ …      ┆ …                  ┆ … ┆ …        ┆ …       ┆ …     ┆ …        │
│ 117         ┆ 0        ┆ 3      ┆ Connors, Mr.       ┆ … ┆ 370369   ┆ 7.75    ┆ null  ┆ Q        │
│             ┆          ┆        ┆ Patrick            ┆   ┆          ┆         ┆       ┆          │
│ 852         ┆ 0        ┆ 3      ┆ Svensson, Mr.      ┆ … ┆ 347060   ┆ 7.775   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Johan              ┆   ┆          ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴────────────────────┴───┴──────────┴─────────┴───────┴──────────┘

## Sorting a column with an expression

In [12]:
df.select(
    pl.all().sort()
)

shape: (891, 12)
┌─────────────┬──────────┬────────┬──────────────────┬───┬───────────┬──────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name             ┆ … ┆ Ticket    ┆ Fare     ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---              ┆   ┆ ---       ┆ ---      ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str              ┆   ┆ str       ┆ f64      ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪══════════════════╪═══╪═══════════╪══════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 1      ┆ Abbing, Mr.      ┆ … ┆ 110152    ┆ 0.0      ┆ null  ┆ null     │
│             ┆          ┆        ┆ Anthony          ┆   ┆           ┆          ┆       ┆          │
│ 2           ┆ 0        ┆ 1      ┆ Abbott, Mr.      ┆ … ┆ 110152    ┆ 0.0      ┆ null  ┆ null     │
│             ┆          ┆        ┆ Rossmore Edward  ┆   ┆           ┆          ┆       ┆          │
│ …           ┆ …        ┆ …      ┆ …                ┆ … ┆ …         ┆ …        ┆ …     ┆ …        │
│ 890         ┆ 1        ┆ 3      ┆ van Billiard,    ┆ … ┆ WE/P 5735 ┆ 512.3292 ┆ G6    ┆ S        │
│             ┆          ┆        ┆ Mr. Austin       ┆   ┆           ┆          ┆       ┆          │
│             ┆          ┆        ┆ Blyle…           ┆   ┆           ┆          ┆       ┆          │
│ 891         ┆ 1        ┆ 3      ┆ van Melkebeke,   ┆ … ┆ WE/P 5735 ┆ 512.3292 ┆ T     ┆ S        │
│             ┆          ┆        ┆ Mr. Philemon     ┆   ┆           ┆          ┆       ┆          │
└─────────────┴──────────┴────────┴──────────────────┴───┴───────────┴──────────┴───────┴──────────┘

We can also sort all columns with respect to another column using `sort_by`.

In [13]:
df.select(
    pl.all().sort_by("Age")
)

shape: (891, 12)
┌─────────────┬──────────┬────────┬───────────────────────┬───┬────────┬────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name                  ┆ … ┆ Ticket ┆ Fare   ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                   ┆   ┆ ---    ┆ ---    ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                   ┆   ┆ str    ┆ f64    ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═══════════════════════╪═══╪════════╪════════╪═══════╪══════════╡
│ 6           ┆ 0        ┆ 3      ┆ Moran, Mr. James      ┆ … ┆ 330877 ┆ 8.4583 ┆ null  ┆ Q        │
│ 18          ┆ 1        ┆ 2      ┆ Williams, Mr. Charles ┆ … ┆ 244373 ┆ 13.0   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Eugene                ┆   ┆        ┆        ┆       ┆          │
│ …           ┆ …        ┆ …      ┆ …                     ┆ … ┆ …      ┆ …      ┆ …     ┆ …        │
│ 852         ┆ 0        ┆ 3      ┆ Svensson, Mr. Johan   ┆ … ┆ 347060 ┆ 7.775  ┆ null  ┆ S        │
│ 631         ┆ 1        ┆ 1      ┆ Barkworth, Mr.        ┆ … ┆ 27042  ┆ 30.0   ┆ A23   ┆ S        │
│             ┆          ┆        ┆ Algernon Henry …      ┆   ┆        ┆        ┆       ┆          │
└─────────────┴──────────┴────────┴───────────────────────┴───┴────────┴────────┴───────┴──────────┘

We can use `sort_by` in an expression it can be used in other contexts such as in a `groupby` aggregation.

In [14]:
df.group_by("Pclass").agg(
    pl.col("Name").sort_by("Age").last(),
    pl.col("Age").sort_by("Age").last()
)

shape: (3, 3)
┌────────┬─────────────────────────────────┬──────┐
│ Pclass ┆ Name                            ┆ Age  │
│ ---    ┆ ---                             ┆ ---  │
│ i64    ┆ str                             ┆ f64  │
╞════════╪═════════════════════════════════╪══════╡
│ 3      ┆ Svensson, Mr. Johan             ┆ 74.0 │
│ 2      ┆ Mitchell, Mr. Henry Michael     ┆ 70.0 │
│ 1      ┆ Barkworth, Mr. Algernon Henry … ┆ 80.0 │
└────────┴─────────────────────────────────┴──────┘

### Filtering for the largest/smallest values
Find the largest or smallest values we could do `sort` followed by `head` or `tail`.

In [15]:
df.sort("Age").tail(3)

shape: (3, 12)
┌─────────────┬──────────┬────────┬────────────────────┬───┬──────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name               ┆ … ┆ Ticket   ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                ┆   ┆ ---      ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                ┆   ┆ str      ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪════════════════════╪═══╪══════════╪═════════╪═══════╪══════════╡
│ 494         ┆ 0        ┆ 1      ┆ Artagaveytia, Mr.  ┆ … ┆ PC 17609 ┆ 49.5042 ┆ null  ┆ C        │
│             ┆          ┆        ┆ Ramon              ┆   ┆          ┆         ┆       ┆          │
│ 852         ┆ 0        ┆ 3      ┆ Svensson, Mr.      ┆ … ┆ 347060   ┆ 7.775   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Johan              ┆   ┆          ┆         ┆       ┆          │
│ 631         ┆ 1        ┆ 1      ┆ Barkworth, Mr.     ┆ … ┆ 27042    ┆ 30.0    ┆ A23   ┆ S        │
│             ┆          ┆        ┆ Algernon Henry …   ┆   ┆          ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴────────────────────┴───┴──────────┴─────────┴───────┴──────────┘

A faster approach is to use `top_k` which does not sort the full `DataFrame` but instead just searches through the rows to filter for the largest/smallest values and then sorts this small subset of rows - this method always places `null` values last.

In [18]:
df.top_k(
    k=5,
    by="Age",
    reverse=False
)

shape: (5, 12)
┌─────────────┬──────────┬────────┬────────────────────┬───┬──────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name               ┆ … ┆ Ticket   ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                ┆   ┆ ---      ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                ┆   ┆ str      ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪════════════════════╪═══╪══════════╪═════════╪═══════╪══════════╡
│ 631         ┆ 1        ┆ 1      ┆ Barkworth, Mr.     ┆ … ┆ 27042    ┆ 30.0    ┆ A23   ┆ S        │
│             ┆          ┆        ┆ Algernon Henry …   ┆   ┆          ┆         ┆       ┆          │
│ 852         ┆ 0        ┆ 3      ┆ Svensson, Mr.      ┆ … ┆ 347060   ┆ 7.775   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Johan              ┆   ┆          ┆         ┆       ┆          │
│ …           ┆ …        ┆ …      ┆ …                  ┆ … ┆ …        ┆ …       ┆ …     ┆ …        │
│ 494         ┆ 0        ┆ 1      ┆ Artagaveytia, Mr.  ┆ … ┆ PC 17609 ┆ 49.5042 ┆ null  ┆ C        │
│             ┆          ┆        ┆ Ramon              ┆   ┆          ┆         ┆       ┆          │
│ 117         ┆ 0        ┆ 3      ┆ Connors, Mr.       ┆ … ┆ 370369   ┆ 7.75    ┆ null  ┆ Q        │
│             ┆          ┆        ┆ Patrick            ┆   ┆          ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴────────────────────┴───┴──────────┴─────────┴───────┴──────────┘

## Taking advantage of sorted data

For some operations Polars can use a fast track algorithm if it knows the data in a column is sorted.

### Checking the sorted status
You can check if Polars **thinks** a column is sorted with the `flags` attribute on a column or a `Series`

In [22]:
df["PassengerId"].flags

{'SORTED_ASC': False, 'SORTED_DESC': False}

You can check the status of all columns at once with the `flags` attribute on a `DataFrame`

In [23]:
df.flags

{'PassengerId': {'SORTED_ASC': False, 'SORTED_DESC': False},
 'Survived': {'SORTED_ASC': False, 'SORTED_DESC': False},
 'Pclass': {'SORTED_ASC': False, 'SORTED_DESC': False},
 'Name': {'SORTED_ASC': False, 'SORTED_DESC': False},
 'Sex': {'SORTED_ASC': False, 'SORTED_DESC': False},
 'Age': {'SORTED_ASC': False, 'SORTED_DESC': False},
 'SibSp': {'SORTED_ASC': False, 'SORTED_DESC': False},
 'Parch': {'SORTED_ASC': False, 'SORTED_DESC': False},
 'Ticket': {'SORTED_ASC': False, 'SORTED_DESC': False},
 'Fare': {'SORTED_ASC': False, 'SORTED_DESC': False},
 'Cabin': {'SORTED_ASC': False, 'SORTED_DESC': False},
 'Embarked': {'SORTED_ASC': False, 'SORTED_DESC': False}}

We can check if a column is actually sorted with the `is_sorted` method:

In [24]:
df["PassengerId"].is_sorted()

True

### Setting the sorted status
If we know that a column is sorted then we can let Polars know using `set_sorted`

In [25]:
df = pl.read_csv(csv_file).with_columns(
    pl.col("PassengerId").set_sorted()
)

df["PassengerId"].flags

{'SORTED_ASC': True, 'SORTED_DESC': False}

### `set_sorted` in an expression
We can use `set_sorted` within an expression.

In [27]:
df.select(
    pl.col("PassengerId").set_sorted().max()
)

shape: (1, 1)
┌─────────────┐
│ PassengerId │
│ ---         │
│ i64         │
╞═════════════╡
│ 891         │
└─────────────┘

## Exercises

## Exercise 1: Sorting a `DataFrame`
Sort the `DataFrame` by whether passengers survived and the alphabetical order of the passenger names.

Configure the output to print 10 lines using `pl.Config`

In [28]:
pl.Config.set_tbl_rows(10)

df.sort("Survived", "Name")

shape: (891, 12)
┌─────────────┬──────────┬────────┬──────────────────┬───┬───────────┬──────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name             ┆ … ┆ Ticket    ┆ Fare     ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---              ┆   ┆ ---       ┆ ---      ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str              ┆   ┆ str       ┆ f64      ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪══════════════════╪═══╪═══════════╪══════════╪═══════╪══════════╡
│ 846         ┆ 0        ┆ 3      ┆ Abbing, Mr.      ┆ … ┆ C.A. 5547 ┆ 7.55     ┆ null  ┆ S        │
│             ┆          ┆        ┆ Anthony          ┆   ┆           ┆          ┆       ┆          │
│ 747         ┆ 0        ┆ 3      ┆ Abbott, Mr.      ┆ … ┆ C.A. 2673 ┆ 20.25    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Rossmore Edward  ┆   ┆           ┆          ┆       ┆          │
│ 309         ┆ 0        ┆ 2      ┆ Abelson, Mr.     ┆ … ┆ P/PP 3381 ┆ 24.0     ┆ null  ┆ C        │
│             ┆          ┆        ┆ Samuel           ┆   ┆           ┆          ┆       ┆          │
│ 366         ┆ 0        ┆ 3      ┆ Adahl, Mr.       ┆ … ┆ C 7076    ┆ 7.25     ┆ null  ┆ S        │
│             ┆          ┆        ┆ Mauritz Nils     ┆   ┆           ┆          ┆       ┆          │
│             ┆          ┆        ┆ Martin           ┆   ┆           ┆          ┆       ┆          │
│ 402         ┆ 0        ┆ 3      ┆ Adams, Mr. John  ┆ … ┆ 341826    ┆ 8.05     ┆ null  ┆ S        │
│ …           ┆ …        ┆ …      ┆ …                ┆ … ┆ …         ┆ …        ┆ …     ┆ …        │
│ 56          ┆ 1        ┆ 1      ┆ Woolner, Mr.     ┆ … ┆ 19947     ┆ 35.5     ┆ C52   ┆ S        │
│             ┆          ┆        ┆ Hugh             ┆   ┆           ┆          ┆       ┆          │
│ 831         ┆ 1        ┆ 3      ┆ Yasbeck, Mrs.    ┆ … ┆ 2659      ┆ 14.4542  ┆ null  ┆ C        │
│             ┆          ┆        ┆ Antoni (Selini   ┆   ┆           ┆          ┆       ┆          │
│             ┆          ┆        ┆ A…               ┆   ┆           ┆          ┆       ┆          │
│ 326         ┆ 1        ┆ 1      ┆ Young, Miss.     ┆ … ┆ PC 17760  ┆ 135.6333 ┆ C32   ┆ C        │
│             ┆          ┆        ┆ Marie Grice      ┆   ┆           ┆          ┆       ┆          │
│ 560         ┆ 1        ┆ 3      ┆ de Messemaeker,  ┆ … ┆ 345572    ┆ 17.4     ┆ null  ┆ S        │
│             ┆          ┆        ┆ Mrs. Guillaume…  ┆   ┆           ┆          ┆       ┆          │
│ 287         ┆ 1        ┆ 3      ┆ de Mulder, Mr.   ┆ … ┆ 345774    ┆ 9.5      ┆ null  ┆ S        │
│             ┆          ┆        ┆ Theodore         ┆   ┆           ┆          ┆       ┆          │
└─────────────┴──────────┴────────┴──────────────────┴───┴───────────┴──────────┴───────┴──────────┘

Add a column for the `familySize` which is the sum of the number of siblings (`SibSp` columns), the number of parents or children (`Parch` columns) plus one for the passenger themself.

Then sort all of the columns by `familySize` inside an expression

In [30]:
df.with_columns(
    familySize = (pl.col("SibSp") + pl.col("Parch") + 1)
).select(
    pl.all().sort_by("familySize")
)

shape: (891, 13)
┌─────────────┬──────────┬────────┬──────────────────┬───┬─────────┬───────┬──────────┬────────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name             ┆ … ┆ Fare    ┆ Cabin ┆ Embarked ┆ familySize │
│ ---         ┆ ---      ┆ ---    ┆ ---              ┆   ┆ ---     ┆ ---   ┆ ---      ┆ ---        │
│ i64         ┆ i64      ┆ i64    ┆ str              ┆   ┆ f64     ┆ str   ┆ str      ┆ i64        │
╞═════════════╪══════════╪════════╪══════════════════╪═══╪═════════╪═══════╪══════════╪════════════╡
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss. ┆ … ┆ 7.925   ┆ null  ┆ S        ┆ 1          │
│             ┆          ┆        ┆ Laina            ┆   ┆         ┆       ┆          ┆            │
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr.       ┆ … ┆ 8.05    ┆ null  ┆ S        ┆ 1          │
│             ┆          ┆        ┆ William Henry    ┆   ┆         ┆       ┆          ┆            │
│ 6           ┆ 0        ┆ 3      ┆ Moran, Mr. James ┆ … ┆ 8.4583  ┆ null  ┆ Q        ┆ 1          │
│ 7           ┆ 0        ┆ 1      ┆ McCarthy, Mr.    ┆ … ┆ 51.8625 ┆ E46   ┆ S        ┆ 1          │
│             ┆          ┆        ┆ Timothy J        ┆   ┆         ┆       ┆          ┆            │
│ 12          ┆ 1        ┆ 1      ┆ Bonnell, Miss.   ┆ … ┆ 26.55   ┆ C103  ┆ S        ┆ 1          │
│             ┆          ┆        ┆ Elizabeth        ┆   ┆         ┆       ┆          ┆            │
│ …           ┆ …        ┆ …      ┆ …                ┆ … ┆ …       ┆ …     ┆ …        ┆ …          │
│ 202         ┆ 0        ┆ 3      ┆ Sage, Mr.        ┆ … ┆ 69.55   ┆ null  ┆ S        ┆ 11         │
│             ┆          ┆        ┆ Frederick        ┆   ┆         ┆       ┆          ┆            │
│ 325         ┆ 0        ┆ 3      ┆ Sage, Mr. George ┆ … ┆ 69.55   ┆ null  ┆ S        ┆ 11         │
│             ┆          ┆        ┆ John Jr          ┆   ┆         ┆       ┆          ┆            │
│ 793         ┆ 0        ┆ 3      ┆ Sage, Miss.      ┆ … ┆ 69.55   ┆ null  ┆ S        ┆ 11         │
│             ┆          ┆        ┆ Stella Anna      ┆   ┆         ┆       ┆          ┆            │
│ 847         ┆ 0        ┆ 3      ┆ Sage, Mr.        ┆ … ┆ 69.55   ┆ null  ┆ S        ┆ 11         │
│             ┆          ┆        ┆ Douglas Bullen   ┆   ┆         ┆       ┆          ┆            │
│ 864         ┆ 0        ┆ 3      ┆ Sage, Miss.      ┆ … ┆ 69.55   ┆ null  ┆ S        ┆ 11         │
│             ┆          ┆        ┆ Dorothy Edith    ┆   ┆         ┆       ┆          ┆            │
│             ┆          ┆        ┆ "Dol…            ┆   ┆         ┆       ┆          ┆            │
└─────────────┴──────────┴────────┴──────────────────┴───┴─────────┴───────┴──────────┴────────────┘

## Exercise 2: Using `set_sorted`

In [31]:
import numpy as np

N = 10_000_000
sorted_array = np.sort(np.random.standard_normal(N))
df_sort = pl.DataFrame({"known_sorted": sorted_array, "unknown_sorted": sorted_array})

df_sort.head(3)

shape: (3, 2)
┌──────────────┬────────────────┐
│ known_sorted ┆ unknown_sorted │
│ ---          ┆ ---            │
│ f64          ┆ f64            │
╞══════════════╪════════════════╡
│ -5.432424    ┆ -5.432424      │
│ -5.27435     ┆ -5.27435       │
│ -4.985382    ┆ -4.985382      │
└──────────────┴────────────────┘

Check to see if Polars thinks the `known_sorted` column is sorted yet

In [33]:
df_sort["known_sorted"].flags

{'SORTED_ASC': False, 'SORTED_DESC': False}

Tell polars that the `known_sorted` column is sorted

In [35]:
df_sort = df_sort.with_columns(
    pl.col("known_sorted").set_sorted()
)

Confirm that Polars knows the `known_sorted` column is sorted

In [37]:
df_sort["known_sorted"].is_sorted()

True

Compare how long it takes to find the median of each column.

In [45]:
%%timeit -n1 -r5

df_sort.select(
    pl.col("known_sorted").median()
)

The slowest run took 6.39 times longer than the fastest. This could mean that an intermediate result is being cached.
444 μs ± 286 μs per loop (mean ± std. dev. of 5 runs, 1 loop each)

In [46]:
%%timeit -n1 -r5

df_sort.select(
    pl.col("unknown_sorted").median()
)

176 ms ± 44.2 ms per loop (mean ± std. dev. of 5 runs, 1 loop each)

We want to filter each `DataFrame` to find values less than -2. 

Compare how long it takes when we apply the filter to the `known_sorted` column compared to the `unknown_sorted` column

In [44]:
%%timeit -n1 -r5

df_sort.filter(
    pl.col("known_sorted") < -2
)

2.58 ms ± 635 μs per loop (mean ± std. dev. of 5 runs, 1 loop each)

In [42]:
%%timeit -n1 -r5
df_sort.filter(
    pl.col("unknown_sorted") < -2
)

23.1 ms ± 3.9 ms per loop (mean ± std. dev. of 5 runs, 1 loop each)