# `Filter` in Lazy Mode

In [1]:
import polars as pl

In [2]:
csv_file = "data/titanic.csv"

## Lazy Mode

In [5]:
df = pl.scan_csv(csv_file)
df

## Filter in Lazy Mode

Applying a `filter` in lazy mode, a `FILTER` line is added to the naive query plan.

In [8]:
df = df.filter(pl.col("Age") > 30)
print(df.explain(optimized=True))

Csv SCAN [data/titanic.csv]
PROJECT */12 COLUMNS
SELECTION: [(col("Age")) > (30.0)]
ESTIMATED ROWS: 971

## Multiple Conditions

### Apply `AND` Conditions

Chaining multiple calls to `filter`.

In [ ]:
df = pl.scan_csv(
    csv_file
).filter(
    pl.col("Pclass") == 1
).filter(
    pl.col("Age") > 70
)

print(df.explain(optimized=True))

Csv SCAN [data/titanic.csv]
PROJECT */12 COLUMNS
SELECTION: [([(col("Age")) > (70.0)]) & ([(col("Pclass")) == (1)])]
ESTIMATED ROWS: 971

In eager mode chaining is inefficient.

It is better to combine everything into a `single` condition.

In [12]:
pl.read_csv(
    csv_file
).filter(
    (pl.col("Age") > 70) & (pl.col("Pclass") == 1)
).head(2)

shape: (2, 12)
┌─────────────┬──────────┬────────┬────────────────────┬───┬──────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name               ┆ … ┆ Ticket   ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                ┆   ┆ ---      ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                ┆   ┆ str      ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪════════════════════╪═══╪══════════╪═════════╪═══════╪══════════╡
│ 97          ┆ 0        ┆ 1      ┆ Goldschmidt, Mr.   ┆ … ┆ PC 17754 ┆ 34.6542 ┆ A5    ┆ C        │
│             ┆          ┆        ┆ George B           ┆   ┆          ┆         ┆       ┆          │
│ 494         ┆ 0        ┆ 1      ┆ Artagaveytia, Mr.  ┆ … ┆ PC 17609 ┆ 49.5042 ┆ null  ┆ C        │
│             ┆          ┆        ┆ Ramon              ┆   ┆          ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴────────────────────┴───┴──────────┴─────────┴───────┴──────────┘

The less verbose way.

In [14]:
pl.read_csv(
    csv_file
).filter(
    (pl.col("Age") > 70),
    (pl.col("Pclass") == 1)
).head(2)

shape: (2, 12)
┌─────────────┬──────────┬────────┬────────────────────┬───┬──────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name               ┆ … ┆ Ticket   ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                ┆   ┆ ---      ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                ┆   ┆ str      ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪════════════════════╪═══╪══════════╪═════════╪═══════╪══════════╡
│ 97          ┆ 0        ┆ 1      ┆ Goldschmidt, Mr.   ┆ … ┆ PC 17754 ┆ 34.6542 ┆ A5    ┆ C        │
│             ┆          ┆        ┆ George B           ┆   ┆          ┆         ┆       ┆          │
│ 494         ┆ 0        ┆ 1      ┆ Artagaveytia, Mr.  ┆ … ┆ PC 17609 ┆ 49.5042 ┆ null  ┆ C        │
│             ┆          ┆        ┆ Ramon              ┆   ┆          ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴────────────────────┴───┴──────────┴─────────┴───────┴──────────┘

Keyword way.

In [15]:
pl.read_csv(
    csv_file
).filter(
    Age = 70,
    Pclass = 1
).head(2)

shape: (1, 12)
┌─────────────┬──────────┬────────┬──────────────────────┬───┬───────────┬──────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name                 ┆ … ┆ Ticket    ┆ Fare ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                  ┆   ┆ ---       ┆ ---  ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                  ┆   ┆ str       ┆ f64  ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪══════════════════════╪═══╪═══════════╪══════╪═══════╪══════════╡
│ 746         ┆ 0        ┆ 1      ┆ Crosby, Capt. Edward ┆ … ┆ WE/P 5735 ┆ 71.0 ┆ B22   ┆ S        │
│             ┆          ┆        ┆ Gifford              ┆   ┆           ┆      ┆       ┆          │
└─────────────┴──────────┴────────┴──────────────────────┴───┴───────────┴──────┴───────┴──────────┘

### Apply `pl.all_horizontal`

When we want to apply an `AND` condition on many columns.

In [17]:
pl.read_csv(
    csv_file
).filter(
    pl.all_horizontal(
        pl.all().is_not_null() # all() means all_columns
    )
)

shape: (183, 12)
┌─────────────┬──────────┬────────┬──────────────┬───┬──────────┬─────────┬─────────────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name         ┆ … ┆ Ticket   ┆ Fare    ┆ Cabin       ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---          ┆   ┆ ---      ┆ ---     ┆ ---         ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str          ┆   ┆ str      ┆ f64     ┆ str         ┆ str      │
╞═════════════╪══════════╪════════╪══════════════╪═══╪══════════╪═════════╪═════════════╪══════════╡
│ 2           ┆ 1        ┆ 1      ┆ Cumings,     ┆ … ┆ PC 17599 ┆ 71.2833 ┆ C85         ┆ C        │
│             ┆          ┆        ┆ Mrs. John    ┆   ┆          ┆         ┆             ┆          │
│             ┆          ┆        ┆ Bradley (Fl… ┆   ┆          ┆         ┆             ┆          │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle,    ┆ … ┆ 113803   ┆ 53.1    ┆ C123        ┆ S        │
│             ┆          ┆        ┆ Mrs. Jacques ┆   ┆          ┆         ┆             ┆          │
│             ┆          ┆        ┆ Heath (…     ┆   ┆          ┆         ┆             ┆          │
│ 7           ┆ 0        ┆ 1      ┆ McCarthy,    ┆ … ┆ 17463    ┆ 51.8625 ┆ E46         ┆ S        │
│             ┆          ┆        ┆ Mr. Timothy  ┆   ┆          ┆         ┆             ┆          │
│             ┆          ┆        ┆ J            ┆   ┆          ┆         ┆             ┆          │
│ 11          ┆ 1        ┆ 3      ┆ Sandstrom,   ┆ … ┆ PP 9549  ┆ 16.7    ┆ G6          ┆ S        │
│             ┆          ┆        ┆ Miss.        ┆   ┆          ┆         ┆             ┆          │
│             ┆          ┆        ┆ Marguerite   ┆   ┆          ┆         ┆             ┆          │
│             ┆          ┆        ┆ Ru…          ┆   ┆          ┆         ┆             ┆          │
│ 12          ┆ 1        ┆ 1      ┆ Bonnell,     ┆ … ┆ 113783   ┆ 26.55   ┆ C103        ┆ S        │
│             ┆          ┆        ┆ Miss.        ┆   ┆          ┆         ┆             ┆          │
│             ┆          ┆        ┆ Elizabeth    ┆   ┆          ┆         ┆             ┆          │
│ …           ┆ …        ┆ …      ┆ …            ┆ … ┆ …        ┆ …       ┆ …           ┆ …        │
│ 872         ┆ 1        ┆ 1      ┆ Beckwith,    ┆ … ┆ 11751    ┆ 52.5542 ┆ D35         ┆ S        │
│             ┆          ┆        ┆ Mrs. Richard ┆   ┆          ┆         ┆             ┆          │
│             ┆          ┆        ┆ Leonard…     ┆   ┆          ┆         ┆             ┆          │
│ 873         ┆ 0        ┆ 1      ┆ Carlsson,    ┆ … ┆ 695      ┆ 5.0     ┆ B51 B53 B55 ┆ S        │
│             ┆          ┆        ┆ Mr. Frans    ┆   ┆          ┆         ┆             ┆          │
│             ┆          ┆        ┆ Olof         ┆   ┆          ┆         ┆             ┆          │
│ 880         ┆ 1        ┆ 1      ┆ Potter, Mrs. ┆ … ┆ 11767    ┆ 83.1583 ┆ C50         ┆ C        │
│             ┆          ┆        ┆ Thomas Jr    ┆   ┆          ┆         ┆             ┆          │
│             ┆          ┆        ┆ (Lily A…     ┆   ┆          ┆         ┆             ┆          │
│ 888         ┆ 1        ┆ 1      ┆ Graham,      ┆ … ┆ 112053   ┆ 30.0    ┆ B42         ┆ S        │
│             ┆          ┆        ┆ Miss.        ┆   ┆          ┆         ┆             ┆          │
│             ┆          ┆        ┆ Margaret     ┆   ┆          ┆         ┆             ┆          │
│             ┆          ┆        ┆ Edith        ┆   ┆          ┆         ┆             ┆          │
│ 890         ┆ 1        ┆ 1      ┆ Behr, Mr.    ┆ … ┆ 111369   ┆ 30.0    ┆ C148        ┆ C        │
│             ┆          ┆        ┆ Karl Howell  ┆   ┆          ┆         ┆             ┆          │
└─────────────┴──────────┴────────┴──────────────┴───┴──────────┴─────────┴─────────────┴──────────┘

### Apply `AND` condition on a range

Use `is_between(start, end, closed)`

closed define the range interval.

In [21]:
pl.read_csv(
    csv_file
).filter(
    pl.col("Age").is_between(10, 13)
)

shape: (9, 12)
┌─────────────┬──────────┬────────┬───────────────────┬───┬─────────┬─────────┬─────────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name              ┆ … ┆ Ticket  ┆ Fare    ┆ Cabin   ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---               ┆   ┆ ---     ┆ ---     ┆ ---     ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str               ┆   ┆ str     ┆ f64     ┆ str     ┆ str      │
╞═════════════╪══════════╪════════╪═══════════════════╪═══╪═════════╪═════════╪═════════╪══════════╡
│ 60          ┆ 0        ┆ 3      ┆ Goodwin, Master.  ┆ … ┆ CA 2144 ┆ 46.9    ┆ null    ┆ S        │
│             ┆          ┆        ┆ William Frede…    ┆   ┆         ┆         ┆         ┆          │
│ 126         ┆ 1        ┆ 3      ┆ Nicola-Yarred,    ┆ … ┆ 2651    ┆ 11.2417 ┆ null    ┆ C        │
│             ┆          ┆        ┆ Master. Elias     ┆   ┆         ┆         ┆         ┆          │
│ 420         ┆ 0        ┆ 3      ┆ Van Impe, Miss.   ┆ … ┆ 345773  ┆ 24.15   ┆ null    ┆ S        │
│             ┆          ┆        ┆ Catharina         ┆   ┆         ┆         ┆         ┆          │
│ 447         ┆ 1        ┆ 2      ┆ Mellinger, Miss.  ┆ … ┆ 250644  ┆ 19.5    ┆ null    ┆ S        │
│             ┆          ┆        ┆ Madeleine Vio…    ┆   ┆         ┆         ┆         ┆          │
│ 543         ┆ 0        ┆ 3      ┆ Andersson, Miss.  ┆ … ┆ 347082  ┆ 31.275  ┆ null    ┆ S        │
│             ┆          ┆        ┆ Sigrid Elisab…    ┆   ┆         ┆         ┆         ┆          │
│ 732         ┆ 0        ┆ 3      ┆ Hassan, Mr.       ┆ … ┆ 2699    ┆ 18.7875 ┆ null    ┆ C        │
│             ┆          ┆        ┆ Houssein G N      ┆   ┆         ┆         ┆         ┆          │
│ 781         ┆ 1        ┆ 3      ┆ Ayoub, Miss.      ┆ … ┆ 2687    ┆ 7.2292  ┆ null    ┆ C        │
│             ┆          ┆        ┆ Banoura           ┆   ┆         ┆         ┆         ┆          │
│ 803         ┆ 1        ┆ 1      ┆ Carter, Master.   ┆ … ┆ 113760  ┆ 120.0   ┆ B96 B98 ┆ S        │
│             ┆          ┆        ┆ William Thornt…   ┆   ┆         ┆         ┆         ┆          │
│ 820         ┆ 0        ┆ 3      ┆ Skoog, Master.    ┆ … ┆ 347088  ┆ 27.9    ┆ null    ┆ S        │
│             ┆          ┆        ┆ Karl Thorsten     ┆   ┆         ┆         ┆         ┆          │
└─────────────┴──────────┴────────┴───────────────────┴───┴─────────┴─────────┴─────────┴──────────┘

### Apply `OR` Conditions

Pipe operator `|`

In [22]:
pl.read_csv(
    csv_file
).filter(
    (pl.col("Age") > 70) | (pl.col("Pclass") == 1)
).head(2)

shape: (2, 12)
┌─────────────┬──────────┬────────┬────────────────────┬───┬──────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name               ┆ … ┆ Ticket   ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                ┆   ┆ ---      ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                ┆   ┆ str      ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪════════════════════╪═══╪══════════╪═════════╪═══════╪══════════╡
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs. John ┆ … ┆ PC 17599 ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ Bradley (Fl…       ┆   ┆          ┆         ┆       ┆          │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs.     ┆ … ┆ 113803   ┆ 53.1    ┆ C123  ┆ S        │
│             ┆          ┆        ┆ Jacques Heath (…   ┆   ┆          ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴────────────────────┴───┴──────────┴─────────┴───────┴──────────┘

`is_in(list)` method

In [ ]:
df = pl.read_csv(csv_file)
df.head(3)

shape: (3, 12)
┌─────────────┬──────────┬────────┬───────────────────┬───┬───────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name              ┆ … ┆ Ticket    ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---               ┆   ┆ ---       ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str               ┆   ┆ str       ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═══════════════════╪═══╪═══════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen  ┆ … ┆ A/5 21171 ┆ 7.25    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Harris            ┆   ┆           ┆         ┆       ┆          │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.     ┆ … ┆ PC 17599  ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ John Bradley (Fl… ┆   ┆           ┆         ┆       ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss.  ┆ … ┆ STON/O2.  ┆ 7.925   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Laina             ┆   ┆ 3101282   ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴───────────────────┴───┴───────────┴─────────┴───────┴──────────┘

In [23]:
pl.read_csv(
    csv_file
).filter(
    pl.col("Pclass").is_in([2, 3])
)

shape: (675, 12)
┌─────────────┬──────────┬────────┬───────────────────┬───┬────────────┬────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name              ┆ … ┆ Ticket     ┆ Fare   ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---               ┆   ┆ ---        ┆ ---    ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str               ┆   ┆ str        ┆ f64    ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═══════════════════╪═══╪════════════╪════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen  ┆ … ┆ A/5 21171  ┆ 7.25   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Harris            ┆   ┆            ┆        ┆       ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss.  ┆ … ┆ STON/O2.   ┆ 7.925  ┆ null  ┆ S        │
│             ┆          ┆        ┆ Laina             ┆   ┆ 3101282    ┆        ┆       ┆          │
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr.        ┆ … ┆ 373450     ┆ 8.05   ┆ null  ┆ S        │
│             ┆          ┆        ┆ William Henry     ┆   ┆            ┆        ┆       ┆          │
│ 6           ┆ 0        ┆ 3      ┆ Moran, Mr. James  ┆ … ┆ 330877     ┆ 8.4583 ┆ null  ┆ Q        │
│ 8           ┆ 0        ┆ 3      ┆ Palsson, Master.  ┆ … ┆ 349909     ┆ 21.075 ┆ null  ┆ S        │
│             ┆          ┆        ┆ Gosta Leonard     ┆   ┆            ┆        ┆       ┆          │
│ …           ┆ …        ┆ …      ┆ …                 ┆ … ┆ …          ┆ …      ┆ …     ┆ …        │
│ 885         ┆ 0        ┆ 3      ┆ Sutehall, Mr.     ┆ … ┆ SOTON/OQ   ┆ 7.05   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Henry Jr          ┆   ┆ 392076     ┆        ┆       ┆          │
│ 886         ┆ 0        ┆ 3      ┆ Rice, Mrs.        ┆ … ┆ 382652     ┆ 29.125 ┆ null  ┆ Q        │
│             ┆          ┆        ┆ William (Margaret ┆   ┆            ┆        ┆       ┆          │
│             ┆          ┆        ┆ N…                ┆   ┆            ┆        ┆       ┆          │
│ 887         ┆ 0        ┆ 2      ┆ Montvila, Rev.    ┆ … ┆ 211536     ┆ 13.0   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Juozas            ┆   ┆            ┆        ┆       ┆          │
│ 889         ┆ 0        ┆ 3      ┆ Johnston, Miss.   ┆ … ┆ W./C. 6607 ┆ 23.45  ┆ null  ┆ S        │
│             ┆          ┆        ┆ Catherine Hele…   ┆   ┆            ┆        ┆       ┆          │
│ 891         ┆ 0        ┆ 3      ┆ Dooley, Mr.       ┆ … ┆ 370376     ┆ 7.75   ┆ null  ┆ Q        │
│             ┆          ┆        ┆ Patrick           ┆   ┆            ┆        ┆       ┆          │
└─────────────┴──────────┴────────┴───────────────────┴───┴────────────┴────────┴───────┴──────────┘

## Exercises

### Exercise 1 
Filter the `DataFrame` to find rows where `Age` is between 30 and 50 (including the lower bound) and the passenger is in 2nd class. 

Do this in eager mode in a single pass through the `DataFrame`

In [29]:
pl.read_csv(csv_file).filter(
    pl.col("Age").is_between(30, 50, closed="left") & (pl.col("Pclass") == 2)
)

shape: (66, 12)
┌─────────────┬──────────┬────────┬──────────────────┬───┬────────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name             ┆ … ┆ Ticket     ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---              ┆   ┆ ---        ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str              ┆   ┆ str        ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪══════════════════╪═══╪════════════╪═════════╪═══════╪══════════╡
│ 21          ┆ 0        ┆ 2      ┆ Fynney, Mr.      ┆ … ┆ 239865     ┆ 26.0    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Joseph J         ┆   ┆            ┆         ┆       ┆          │
│ 22          ┆ 1        ┆ 2      ┆ Beesley, Mr.     ┆ … ┆ 248698     ┆ 13.0    ┆ D56   ┆ S        │
│             ┆          ┆        ┆ Lawrence         ┆   ┆            ┆         ┆       ┆          │
│ 71          ┆ 0        ┆ 2      ┆ Jenkin, Mr.      ┆ … ┆ C.A. 33111 ┆ 10.5    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Stephen Curnow   ┆   ┆            ┆         ┆       ┆          │
│ 99          ┆ 1        ┆ 2      ┆ Doling, Mrs.     ┆ … ┆ 231919     ┆ 23.0    ┆ null  ┆ S        │
│             ┆          ┆        ┆ John T (Ada      ┆   ┆            ┆         ┆       ┆          │
│             ┆          ┆        ┆ Julia…           ┆   ┆            ┆         ┆       ┆          │
│ 100         ┆ 0        ┆ 2      ┆ Kantor, Mr.      ┆ … ┆ 244367     ┆ 26.0    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Sinai            ┆   ┆            ┆         ┆       ┆          │
│ …           ┆ …        ┆ …      ┆ …                ┆ … ┆ …          ┆ …       ┆ …     ┆ …        │
│ 809         ┆ 0        ┆ 2      ┆ Meyer, Mr.       ┆ … ┆ 248723     ┆ 13.0    ┆ null  ┆ S        │
│             ┆          ┆        ┆ August           ┆   ┆            ┆         ┆       ┆          │
│ 813         ┆ 0        ┆ 2      ┆ Slemen, Mr.      ┆ … ┆ 28206      ┆ 10.5    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Richard James    ┆   ┆            ┆         ┆       ┆          │
│ 818         ┆ 0        ┆ 2      ┆ Mallet, Mr.      ┆ … ┆ S.C./PARIS ┆ 37.0042 ┆ null  ┆ C        │
│             ┆          ┆        ┆ Albert           ┆   ┆ 2079       ┆         ┆       ┆          │
│ 855         ┆ 0        ┆ 2      ┆ Carter, Mrs.     ┆ … ┆ 244252     ┆ 26.0    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Ernest Courtenay ┆   ┆            ┆         ┆       ┆          │
│             ┆          ┆        ┆ …                ┆   ┆            ┆         ┆       ┆          │
│ 866         ┆ 1        ┆ 2      ┆ Bystrom, Mrs.    ┆ … ┆ 236852     ┆ 13.0    ┆ null  ┆ S        │
│             ┆          ┆        ┆ (Karolina)       ┆   ┆            ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴──────────────────┴───┴────────────┴─────────┴───────┴──────────┘

Do this again combining the range condition with the keyword approach for the 2nd class condition - does the order you pass the conditions matter?

> **Note:** keyword arguments must be the last on the list.

In [35]:
pl.read_csv(csv_file).filter(
    pl.col("Age").is_between(30, 50, closed="left"),
    Pclass=2,
)

shape: (66, 12)
┌─────────────┬──────────┬────────┬──────────────────┬───┬────────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name             ┆ … ┆ Ticket     ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---              ┆   ┆ ---        ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str              ┆   ┆ str        ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪══════════════════╪═══╪════════════╪═════════╪═══════╪══════════╡
│ 21          ┆ 0        ┆ 2      ┆ Fynney, Mr.      ┆ … ┆ 239865     ┆ 26.0    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Joseph J         ┆   ┆            ┆         ┆       ┆          │
│ 22          ┆ 1        ┆ 2      ┆ Beesley, Mr.     ┆ … ┆ 248698     ┆ 13.0    ┆ D56   ┆ S        │
│             ┆          ┆        ┆ Lawrence         ┆   ┆            ┆         ┆       ┆          │
│ 71          ┆ 0        ┆ 2      ┆ Jenkin, Mr.      ┆ … ┆ C.A. 33111 ┆ 10.5    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Stephen Curnow   ┆   ┆            ┆         ┆       ┆          │
│ 99          ┆ 1        ┆ 2      ┆ Doling, Mrs.     ┆ … ┆ 231919     ┆ 23.0    ┆ null  ┆ S        │
│             ┆          ┆        ┆ John T (Ada      ┆   ┆            ┆         ┆       ┆          │
│             ┆          ┆        ┆ Julia…           ┆   ┆            ┆         ┆       ┆          │
│ 100         ┆ 0        ┆ 2      ┆ Kantor, Mr.      ┆ … ┆ 244367     ┆ 26.0    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Sinai            ┆   ┆            ┆         ┆       ┆          │
│ …           ┆ …        ┆ …      ┆ …                ┆ … ┆ …          ┆ …       ┆ …     ┆ …        │
│ 809         ┆ 0        ┆ 2      ┆ Meyer, Mr.       ┆ … ┆ 248723     ┆ 13.0    ┆ null  ┆ S        │
│             ┆          ┆        ┆ August           ┆   ┆            ┆         ┆       ┆          │
│ 813         ┆ 0        ┆ 2      ┆ Slemen, Mr.      ┆ … ┆ 28206      ┆ 10.5    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Richard James    ┆   ┆            ┆         ┆       ┆          │
│ 818         ┆ 0        ┆ 2      ┆ Mallet, Mr.      ┆ … ┆ S.C./PARIS ┆ 37.0042 ┆ null  ┆ C        │
│             ┆          ┆        ┆ Albert           ┆   ┆ 2079       ┆         ┆       ┆          │
│ 855         ┆ 0        ┆ 2      ┆ Carter, Mrs.     ┆ … ┆ 244252     ┆ 26.0    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Ernest Courtenay ┆   ┆            ┆         ┆       ┆          │
│             ┆          ┆        ┆ …                ┆   ┆            ┆         ┆       ┆          │
│ 866         ┆ 1        ┆ 2      ┆ Bystrom, Mrs.    ┆ … ┆ 236852     ┆ 13.0    ┆ null  ┆ S        │
│             ┆          ┆        ┆ (Karolina)       ┆   ┆            ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴──────────────────┴───┴────────────┴─────────┴───────┴──────────┘

### Exercise 2
Return all the rows of the `DataFrame` where at least one column on the row is `null` (excluding the `Cabin` column with many `null` values)

In [36]:
pl.read_csv(csv_file).drop(
    "Cabin"
).filter(
    pl.any_horizontal(
        pl.all().is_null()
    )
)

shape: (179, 11)
┌─────────────┬──────────┬────────┬───────────────────┬───┬───────┬────────────┬────────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name              ┆ … ┆ Parch ┆ Ticket     ┆ Fare   ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---               ┆   ┆ ---   ┆ ---        ┆ ---    ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str               ┆   ┆ i64   ┆ str        ┆ f64    ┆ str      │
╞═════════════╪══════════╪════════╪═══════════════════╪═══╪═══════╪════════════╪════════╪══════════╡
│ 6           ┆ 0        ┆ 3      ┆ Moran, Mr. James  ┆ … ┆ 0     ┆ 330877     ┆ 8.4583 ┆ Q        │
│ 18          ┆ 1        ┆ 2      ┆ Williams, Mr.     ┆ … ┆ 0     ┆ 244373     ┆ 13.0   ┆ S        │
│             ┆          ┆        ┆ Charles Eugene    ┆   ┆       ┆            ┆        ┆          │
│ 20          ┆ 1        ┆ 3      ┆ Masselmani, Mrs.  ┆ … ┆ 0     ┆ 2649       ┆ 7.225  ┆ C        │
│             ┆          ┆        ┆ Fatima            ┆   ┆       ┆            ┆        ┆          │
│ 27          ┆ 0        ┆ 3      ┆ Emir, Mr. Farred  ┆ … ┆ 0     ┆ 2631       ┆ 7.225  ┆ C        │
│             ┆          ┆        ┆ Chehab            ┆   ┆       ┆            ┆        ┆          │
│ 29          ┆ 1        ┆ 3      ┆ O'Dwyer, Miss.    ┆ … ┆ 0     ┆ 330959     ┆ 7.8792 ┆ Q        │
│             ┆          ┆        ┆ Ellen "Nellie"    ┆   ┆       ┆            ┆        ┆          │
│ …           ┆ …        ┆ …      ┆ …                 ┆ … ┆ …     ┆ …          ┆ …      ┆ …        │
│ 860         ┆ 0        ┆ 3      ┆ Razi, Mr. Raihed  ┆ … ┆ 0     ┆ 2629       ┆ 7.2292 ┆ C        │
│ 864         ┆ 0        ┆ 3      ┆ Sage, Miss.       ┆ … ┆ 2     ┆ CA. 2343   ┆ 69.55  ┆ S        │
│             ┆          ┆        ┆ Dorothy Edith     ┆   ┆       ┆            ┆        ┆          │
│             ┆          ┆        ┆ "Dol…             ┆   ┆       ┆            ┆        ┆          │
│ 869         ┆ 0        ┆ 3      ┆ van Melkebeke,    ┆ … ┆ 0     ┆ 345777     ┆ 9.5    ┆ S        │
│             ┆          ┆        ┆ Mr. Philemon      ┆   ┆       ┆            ┆        ┆          │
│ 879         ┆ 0        ┆ 3      ┆ Laleff, Mr.       ┆ … ┆ 0     ┆ 349217     ┆ 7.8958 ┆ S        │
│             ┆          ┆        ┆ Kristo            ┆   ┆       ┆            ┆        ┆          │
│ 889         ┆ 0        ┆ 3      ┆ Johnston, Miss.   ┆ … ┆ 2     ┆ W./C. 6607 ┆ 23.45  ┆ S        │
│             ┆          ┆        ┆ Catherine Hele…   ┆   ┆       ┆            ┆        ┆          │
└─────────────┴──────────┴────────┴───────────────────┴───┴───────┴────────────┴────────┴──────────┘

### Exercise 3
Create a `DataFrame` where the passengers got on in Cork ("C") or Southampton ("S") using the pipe operator

In [38]:
pl.read_csv(csv_file).filter(
    (pl.col("Embarked") == "C") | (pl.col("Embarked") == "S")
).head(3)

shape: (3, 12)
┌─────────────┬──────────┬────────┬───────────────────┬───┬───────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name              ┆ … ┆ Ticket    ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---               ┆   ┆ ---       ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str               ┆   ┆ str       ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═══════════════════╪═══╪═══════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen  ┆ … ┆ A/5 21171 ┆ 7.25    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Harris            ┆   ┆           ┆         ┆       ┆          │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.     ┆ … ┆ PC 17599  ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ John Bradley (Fl… ┆   ┆           ┆         ┆       ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss.  ┆ … ┆ STON/O2.  ┆ 7.925   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Laina             ┆   ┆ 3101282   ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴───────────────────┴───┴───────────┴─────────┴───────┴──────────┘

Do this again using the `is_in` approach

In [40]:
pl.read_csv(csv_file).filter(
    pl.col("Embarked").is_in(["C", "S"])
).head(3)

shape: (3, 12)
┌─────────────┬──────────┬────────┬───────────────────┬───┬───────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name              ┆ … ┆ Ticket    ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---               ┆   ┆ ---       ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str               ┆   ┆ str       ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═══════════════════╪═══╪═══════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen  ┆ … ┆ A/5 21171 ┆ 7.25    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Harris            ┆   ┆           ┆         ┆       ┆          │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.     ┆ … ┆ PC 17599  ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ John Bradley (Fl… ┆   ┆           ┆         ┆       ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss.  ┆ … ┆ STON/O2.  ┆ 7.925   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Laina             ┆   ┆ 3101282   ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴───────────────────┴───┴───────────┴─────────┴───────┴──────────┘

### Exercise 4
Load the Spotify CSV data into a `DataFrame`

In [41]:
spotify_csv = "data/spotify-charts-2017-2021-global-top200.csv.gz"
spotify_df = pl.read_csv(spotify_csv)
spotify_df.head()

shape: (5, 9)
┌───────────────┬──────┬────────────┬───────────────┬───┬────────┬────────┬──────────────┬─────────┐
│ title         ┆ rank ┆ date       ┆ artist        ┆ … ┆ region ┆ chart  ┆ trend        ┆ streams │
│ ---           ┆ ---  ┆ ---        ┆ ---           ┆   ┆ ---    ┆ ---    ┆ ---          ┆ ---     │
│ str           ┆ i64  ┆ str        ┆ str           ┆   ┆ str    ┆ str    ┆ str          ┆ i64     │
╞═══════════════╪══════╪════════════╪═══════════════╪═══╪════════╪════════╪══════════════╪═════════╡
│ Starboy       ┆ 1    ┆ 2017-01-01 ┆ The Weeknd,   ┆ … ┆ Global ┆ top200 ┆ SAME_POSITIO ┆ 3135625 │
│               ┆      ┆            ┆ Daft Punk     ┆   ┆        ┆        ┆ N            ┆         │
│ Closer        ┆ 2    ┆ 2017-01-01 ┆ The           ┆ … ┆ Global ┆ top200 ┆ SAME_POSITIO ┆ 3015525 │
│               ┆      ┆            ┆ Chainsmokers, ┆   ┆        ┆        ┆ N            ┆         │
│               ┆      ┆            ┆ Halsey        ┆   ┆        ┆        ┆              ┆         │
│ Let Me Love   ┆ 3    ┆ 2017-01-01 ┆ DJ Snake,     ┆ … ┆ Global ┆ top200 ┆ MOVE_UP      ┆ 2545384 │
│ You           ┆      ┆            ┆ Justin Bieber ┆   ┆        ┆        ┆              ┆         │
│ Rockabye      ┆ 4    ┆ 2017-01-01 ┆ Clean Bandit  ┆ … ┆ Global ┆ top200 ┆ MOVE_DOWN    ┆ 2356604 │
│ (feat. Sean   ┆      ┆            ┆               ┆   ┆        ┆        ┆              ┆         │
│ Paul & An…    ┆      ┆            ┆               ┆   ┆        ┆        ┆              ┆         │
│ One Dance     ┆ 5    ┆ 2017-01-01 ┆ Drake,        ┆ … ┆ Global ┆ top200 ┆ SAME_POSITIO ┆ 2259887 │
│               ┆      ┆            ┆ WizKid, Kyla  ┆   ┆        ┆        ┆ N            ┆         │
└───────────────┴──────┴────────────┴───────────────┴───┴────────┴────────┴──────────────┴─────────┘

Find all rows where the number of streams is greater than 10 million and the trend is "NEW_ENTRY"

In [42]:
spotify_df.filter(
    pl.col("streams") > 10000000,
    pl.col("trend") == "NEW_ENTRY"
)

shape: (6, 9)
┌────────────────────┬──────┬────────────┬────────────┬───┬────────┬────────┬───────────┬──────────┐
│ title              ┆ rank ┆ date       ┆ artist     ┆ … ┆ region ┆ chart  ┆ trend     ┆ streams  │
│ ---                ┆ ---  ┆ ---        ┆ ---        ┆   ┆ ---    ┆ ---    ┆ ---       ┆ ---      │
│ str                ┆ i64  ┆ str        ┆ str        ┆   ┆ str    ┆ str    ┆ str       ┆ i64      │
╞════════════════════╪══════╪════════════╪════════════╪═══╪════════╪════════╪═══════════╪══════════╡
│ I Don't Care (with ┆ 1    ┆ 2019-05-10 ┆ Ed Sheeran ┆ … ┆ Global ┆ top200 ┆ NEW_ENTRY ┆ 10977389 │
│ Justin Bieb…       ┆      ┆            ┆            ┆   ┆        ┆        ┆           ┆          │
│ Butter             ┆ 2    ┆ 2021-05-21 ┆ BTS        ┆ … ┆ Global ┆ top200 ┆ NEW_ENTRY ┆ 11042335 │
│ Girls Want Girls   ┆ 1    ┆ 2021-09-03 ┆ Drake      ┆ … ┆ Global ┆ top200 ┆ NEW_ENTRY ┆ 12384750 │
│ (with Lil Bab…     ┆      ┆            ┆            ┆   ┆        ┆        ┆           ┆          │
│ Champagne Poetry   ┆ 2    ┆ 2021-09-03 ┆ Drake      ┆ … ┆ Global ┆ top200 ┆ NEW_ENTRY ┆ 11696783 │
│ Fair Trade (with   ┆ 3    ┆ 2021-09-03 ┆ Drake      ┆ … ┆ Global ┆ top200 ┆ NEW_ENTRY ┆ 11642541 │
│ Travis Scott)      ┆      ┆            ┆            ┆   ┆        ┆        ┆           ┆          │
│ Papi’s Home        ┆ 5    ┆ 2021-09-03 ┆ Drake      ┆ … ┆ Global ┆ top200 ┆ NEW_ENTRY ┆ 10029292 │
└────────────────────┴──────┴────────────┴────────────┴───┴────────┴────────┴───────────┴──────────┘

Find the rows where the artist is either Drake or Ed Sheeran and the rank is less than (better than) 5

In [43]:
spotify_df.filter(
    pl.col("artist").is_in(["Drake", "Ed Sheeran"]),
    pl.col("rank") < 5
)

shape: (795, 9)
┌──────────────┬──────┬────────────┬────────────┬───┬────────┬────────┬───────────────┬─────────┐
│ title        ┆ rank ┆ date       ┆ artist     ┆ … ┆ region ┆ chart  ┆ trend         ┆ streams │
│ ---          ┆ ---  ┆ ---        ┆ ---        ┆   ┆ ---    ┆ ---    ┆ ---           ┆ ---     │
│ str          ┆ i64  ┆ str        ┆ str        ┆   ┆ str    ┆ str    ┆ str           ┆ i64     │
╞══════════════╪══════╪════════════╪════════════╪═══╪════════╪════════╪═══════════════╪═════════╡
│ God's Plan   ┆ 1    ┆ 2018-03-01 ┆ Drake      ┆ … ┆ Global ┆ top200 ┆ SAME_POSITION ┆ 7572795 │
│ Shape of You ┆ 1    ┆ 2017-02-01 ┆ Ed Sheeran ┆ … ┆ Global ┆ top200 ┆ SAME_POSITION ┆ 7549041 │
│ God's Plan   ┆ 1    ┆ 2018-03-02 ┆ Drake      ┆ … ┆ Global ┆ top200 ┆ SAME_POSITION ┆ 7817732 │
│ Shape of You ┆ 1    ┆ 2017-02-02 ┆ Ed Sheeran ┆ … ┆ Global ┆ top200 ┆ SAME_POSITION ┆ 7602214 │
│ Shape of You ┆ 1    ┆ 2017-02-03 ┆ Ed Sheeran ┆ … ┆ Global ┆ top200 ┆ SAME_POSITION ┆ 7881255 │
│ …            ┆ …    ┆ …          ┆ …          ┆ … ┆ …      ┆ …      ┆ …             ┆ …       │
│ Shivers      ┆ 4    ┆ 2021-10-30 ┆ Ed Sheeran ┆ … ┆ Global ┆ top200 ┆ SAME_POSITION ┆ 4995236 │
│ Shivers      ┆ 4    ┆ 2021-10-31 ┆ Ed Sheeran ┆ … ┆ Global ┆ top200 ┆ SAME_POSITION ┆ 4195481 │
│ God's Plan   ┆ 1    ┆ 2018-01-29 ┆ Drake      ┆ … ┆ Global ┆ top200 ┆ SAME_POSITION ┆ 7272380 │
│ God's Plan   ┆ 1    ┆ 2018-01-30 ┆ Drake      ┆ … ┆ Global ┆ top200 ┆ SAME_POSITION ┆ 7468471 │
│ God's Plan   ┆ 1    ┆ 2018-01-31 ┆ Drake      ┆ … ┆ Global ┆ top200 ┆ SAME_POSITION ┆ 7341621 │
└──────────────┴──────┴────────────┴────────────┴───┴────────┴────────┴───────────────┴─────────┘