# Time series preliminaries

Polars developers have decided not to allow strings to be used in the library.

Instead, in Polars dates and times are specified using python's built-in `datetime` module.

In [1]:
from datetime import datetime,date,time,timedelta

import polars as pl

## Datetimes
A datetime is a combination of a date and a time that can be specified down to microseconds.

### Creating a datetime

In [3]:
dt = datetime(2026, 1, 27, 22, 30, 35)
dt

datetime.datetime(2026, 1, 27, 22, 30, 35)

### Accessing Date and Time Components

In [4]:
year = dt.year
month = dt.month
day = dt.day
hour = dt.hour
minute = dt.minute
second = dt.second

print(
    f"Year: {year}, Month: {month}, Day: {day}, Hour: {hour}, Minute: {minute}, Second: {second}"
)

Year: 2026, Month: 1, Day: 27, Hour: 22, Minute: 30, Second: 35

Catch the current datetime via `now()`

In [5]:
datetime.now()

datetime.datetime(2026, 1, 27, 22, 33, 55, 35366)

### Timestamps

All datetime objects are stored internally as counts from the start of the Unix epoch on `1st January 1970`. 

We can get this underlying representation for a `datetime` object with the `timestamp` method, it returns in millisecond.

In [6]:
dt.timestamp()

1769524235.0

Create a datetime object from a timestamp, using `fromtimestamp` method. 

It converts a timestamp to a datetime object representing the corresponding date and time.

In [7]:
timestamp = 1769524235

datetime.fromtimestamp(timestamp)

datetime.datetime(2026, 1, 27, 22, 30, 35)

### Formatting datetime objects

In [8]:
dt.strftime("%Y-%m-%d %H:%M:%S")

'2026-01-27 22:30:35'

Here are some commonly used format code:

- `%Y`: Year with century as a decimal number.
- `%m`: Month as a zero-padded decimal number.
- `%d`: Day of the month as a zero-padded decimal number.
- `%H`: Hour (24-hour clock) as a zero-padded decimal number.
- `%M`: Minute as a zero-padded decimal number.
- `%S`: Second as a zero-padded decimal number.

### Parsing strings into datetime objects

In [9]:
date_string = "2026-01-27 12:00:00"
datetime.strptime(date_string, "%Y-%m-%d %H:%M:%S")

datetime.datetime(2026, 1, 27, 12, 0)

## Dates

### Creating date objects

In [10]:
date(2026, 1, 27)

datetime.date(2026, 1, 27)

### Getting the Current Date

Using `today()` method

In [11]:
date.today()

datetime.date(2026, 1, 27)

### Accessing Date Components

In [12]:
date_obj = date(2026,1,1)

year = date_obj.year
month = date_obj.month
day = date_obj.day

print(f"Year: {year}, Month: {month}, Day: {day}")

Year: 2026, Month: 1, Day: 1

### Formatting date objects

Just like the way we did in datetime

In [13]:
date_obj.strftime("%Y-%m-%d")

'2026-01-01'

### Parsing Strings into date objects

Note: `date` class doesn't have `strptime` method

In [16]:
date_string = "2026-02-28"

datetime.strptime(date_string, "%Y-%m-%d").date()

datetime.date(2026, 2, 28)

### Creating date objects from timestamps

In [17]:
timestamp = 1769524235

date.fromtimestamp(timestamp)

datetime.date(2026, 1, 27)

## Times

### Creating time objects

In [18]:
time(20, 31, 52)

datetime.time(20, 31, 52)

### Accessing Time Components

In [19]:
time_obj = time(20, 31, 52)

hour = time_obj.hour
minute = time_obj.minute
second = time_obj.second
microsecond = time_obj.microsecond

print(f"Hour: {hour}, Minute: {minute}, Second: {second}, Microsecond: {microsecond}")

Hour: 20, Minute: 31, Second: 52, Microsecond: 0

### Formatting time objects

In [20]:
time_obj.strftime("%H:%M:%S")

'20:31:52'

### Parsing strings into time objects

In [21]:
time_string = "19:41:26"
datetime.strptime(time_string, "%H:%M:%S").time()

datetime.time(19, 41, 26)

## Duration / Time Difference

### Creating timedelta objects

In [22]:
timedelta(days=1,seconds=15)

datetime.timedelta(days=1, seconds=15)

Create `timedelta` object by the difference of two datetime or date objects

In [23]:
datetime(2026,1,27) - datetime(2020,3,22)

datetime.timedelta(days=2137)

In [24]:
date(2026,1,1) - date(2024,8,23)

datetime.timedelta(days=496)

Compare `timedelta`

In [25]:
(date(2026,1,23) - date(2025,3,2)) > (date(2025,4,30) - date(2022,8,19))

False

### Getting the Total Duration

In [26]:
dt = timedelta(days=3, hours=18, seconds=15)
dt.total_seconds()

324015.0

> **Note:** Day is the largest interval in `timedelta`

## Creating a datetime range

In [27]:
start_datetime = datetime(2026,1,1)
end_datetime = datetime(2026,1,27,22,30)
hourly_interval = timedelta(hours=1)

In [29]:
pl.datetime_range(
    start=start_datetime,
    end=end_datetime,
    interval=hourly_interval,
    eager=True
)

shape: (647,)
Series: 'literal' [datetime[μs]]
[
	2026-01-01 00:00:00
	2026-01-01 01:00:00
	2026-01-01 02:00:00
	2026-01-01 03:00:00
	2026-01-01 04:00:00
	…
	2026-01-27 18:00:00
	2026-01-27 19:00:00
	2026-01-27 20:00:00
	2026-01-27 21:00:00
	2026-01-27 22:00:00
]

The output is a Polars `Series` and the dtype in this case is `pl.Datetime`.

## Exercises

### Exercise 1
Create `date` objects for the 1st and 2nd January 2020 along with a 3 hour time interval using a `timedelta`

In [30]:
start_date = date(2020,1,1)
end_date = date(2020,1,2)
interval = timedelta(hours=3)

Create a `DataFrame` with a date range column called `date` using these parameters

In [35]:
df = pl.DataFrame(
    {
        "date": pl.datetime_range(
            start=start_date, end=end_date, interval=interval, eager=True
        )
    }
)
df

shape: (9, 1)
┌─────────────────────┐
│ date                │
│ ---                 │
│ datetime[μs]        │
╞═════════════════════╡
│ 2020-01-01 00:00:00 │
│ 2020-01-01 03:00:00 │
│ 2020-01-01 06:00:00 │
│ 2020-01-01 09:00:00 │
│ 2020-01-01 12:00:00 │
│ 2020-01-01 15:00:00 │
│ 2020-01-01 18:00:00 │
│ 2020-01-01 21:00:00 │
│ 2020-01-02 00:00:00 │
└─────────────────────┘

Create the `DataFrame` again using Polars string intervals at 2 hour 30 minute intervals

In [36]:
df = pl.DataFrame(
    {
        "date": pl.datetime_range(
            start=start_date, end=end_date, interval="2h30m", eager=True
        )
    }
)
df

shape: (10, 1)
┌─────────────────────┐
│ date                │
│ ---                 │
│ datetime[μs]        │
╞═════════════════════╡
│ 2020-01-01 00:00:00 │
│ 2020-01-01 02:30:00 │
│ 2020-01-01 05:00:00 │
│ 2020-01-01 07:30:00 │
│ 2020-01-01 10:00:00 │
│ 2020-01-01 12:30:00 │
│ 2020-01-01 15:00:00 │
│ 2020-01-01 17:30:00 │
│ 2020-01-01 20:00:00 │
│ 2020-01-01 22:30:00 │
└─────────────────────┘