# Filtering time series

In [4]:
from datetime import datetime,date,time

import polars as pl

In [5]:
csv_file = "data/nyc_trip_data_1k.csv"

In [6]:
df = pl.read_csv(csv_file,try_parse_dates=True)
df.head(2)

shape: (2, 7)
┌──────────┬───────────────┬──────────────┬──────────────┬──────────────┬─────────────┬────────────┐
│ VendorID ┆ pickup        ┆ dropoff      ┆ passenger_co ┆ trip_distanc ┆ fare_amount ┆ tip_amount │
│ ---      ┆ ---           ┆ ---          ┆ unt          ┆ e            ┆ ---         ┆ ---        │
│ str      ┆ datetime[μs]  ┆ datetime[μs] ┆ ---          ┆ ---          ┆ f64         ┆ f64        │
│          ┆               ┆              ┆ f64          ┆ f64          ┆             ┆            │
╞══════════╪═══════════════╪══════════════╪══════════════╪══════════════╪═════════════╪════════════╡
│ id1      ┆ 2022-01-01    ┆ 2022-01-01   ┆ 1.0          ┆ 10.83        ┆ 31.0        ┆ 0.0        │
│          ┆ 00:04:14      ┆ 00:26:12     ┆              ┆              ┆             ┆            │
│ id2      ┆ 2022-01-01    ┆ 2022-01-01   ┆ 1.0          ┆ 3.97         ┆ 14.5        ┆ 3.66       │
│          ┆ 00:32:17      ┆ 00:49:23     ┆              ┆              ┆             ┆            │
└──────────┴───────────────┴──────────────┴──────────────┴──────────────┴─────────────┴────────────┘

## Filtering by datetime
Using python's built-in `datetime.datetime`, `datetime.date`, or `pl.lit`

In [7]:
df.filter(
    pl.col("pickup") < datetime(2022, 1, 1, 1, 1, 0)
)

shape: (5, 7)
┌──────────┬───────────────┬──────────────┬──────────────┬──────────────┬─────────────┬────────────┐
│ VendorID ┆ pickup        ┆ dropoff      ┆ passenger_co ┆ trip_distanc ┆ fare_amount ┆ tip_amount │
│ ---      ┆ ---           ┆ ---          ┆ unt          ┆ e            ┆ ---         ┆ ---        │
│ str      ┆ datetime[μs]  ┆ datetime[μs] ┆ ---          ┆ ---          ┆ f64         ┆ f64        │
│          ┆               ┆              ┆ f64          ┆ f64          ┆             ┆            │
╞══════════╪═══════════════╪══════════════╪══════════════╪══════════════╪═════════════╪════════════╡
│ id1      ┆ 2022-01-01    ┆ 2022-01-01   ┆ 1.0          ┆ 10.83        ┆ 31.0        ┆ 0.0        │
│          ┆ 00:04:14      ┆ 00:26:12     ┆              ┆              ┆             ┆            │
│ id2      ┆ 2022-01-01    ┆ 2022-01-01   ┆ 1.0          ┆ 3.97         ┆ 14.5        ┆ 3.66       │
│          ┆ 00:32:17      ┆ 00:49:23     ┆              ┆              ┆             ┆            │
│ id8      ┆ 2022-01-01    ┆ 2022-01-01   ┆ 4.0          ┆ 8.44         ┆ 25.5        ┆ 0.0        │
│          ┆ 00:40:58      ┆ 01:00:59     ┆              ┆              ┆             ┆            │
│ id0      ┆ 2022-01-01    ┆ 2022-01-01   ┆ 1.0          ┆ 12.61        ┆ 37.5        ┆ 12.39      │
│          ┆ 00:55:13      ┆ 01:25:49     ┆              ┆              ┆             ┆            │
│ id1      ┆ 2022-01-01    ┆ 2022-01-01   ┆ 1.0          ┆ 1.49         ┆ 6.5         ┆ 0.0        │
│          ┆ 00:55:24      ┆ 01:00:45     ┆              ┆              ┆             ┆            │
└──────────┴───────────────┴──────────────┴──────────────┴──────────────┴─────────────┴────────────┘

In [10]:
df.filter(
    pl.col("pickup") < date(2022, 1, 2)
).head()

shape: (5, 7)
┌──────────┬───────────────┬──────────────┬──────────────┬──────────────┬─────────────┬────────────┐
│ VendorID ┆ pickup        ┆ dropoff      ┆ passenger_co ┆ trip_distanc ┆ fare_amount ┆ tip_amount │
│ ---      ┆ ---           ┆ ---          ┆ unt          ┆ e            ┆ ---         ┆ ---        │
│ str      ┆ datetime[μs]  ┆ datetime[μs] ┆ ---          ┆ ---          ┆ f64         ┆ f64        │
│          ┆               ┆              ┆ f64          ┆ f64          ┆             ┆            │
╞══════════╪═══════════════╪══════════════╪══════════════╪══════════════╪═════════════╪════════════╡
│ id1      ┆ 2022-01-01    ┆ 2022-01-01   ┆ 1.0          ┆ 10.83        ┆ 31.0        ┆ 0.0        │
│          ┆ 00:04:14      ┆ 00:26:12     ┆              ┆              ┆             ┆            │
│ id2      ┆ 2022-01-01    ┆ 2022-01-01   ┆ 1.0          ┆ 3.97         ┆ 14.5        ┆ 3.66       │
│          ┆ 00:32:17      ┆ 00:49:23     ┆              ┆              ┆             ┆            │
│ id8      ┆ 2022-01-01    ┆ 2022-01-01   ┆ 4.0          ┆ 8.44         ┆ 25.5        ┆ 0.0        │
│          ┆ 00:40:58      ┆ 01:00:59     ┆              ┆              ┆             ┆            │
│ id0      ┆ 2022-01-01    ┆ 2022-01-01   ┆ 1.0          ┆ 12.61        ┆ 37.5        ┆ 12.39      │
│          ┆ 00:55:13      ┆ 01:25:49     ┆              ┆              ┆             ┆            │
│ id1      ┆ 2022-01-01    ┆ 2022-01-01   ┆ 1.0          ┆ 1.49         ┆ 6.5         ┆ 0.0        │
│          ┆ 00:55:24      ┆ 01:00:45     ┆              ┆              ┆             ┆            │
└──────────┴───────────────┴──────────────┴──────────────┴──────────────┴─────────────┴────────────┘

In [12]:
df.filter(
    pl.col("pickup") < pl.lit("2022-01-02").str.strptime(pl.Date, format="%Y-%m-%d")
).tail()

shape: (5, 7)
┌──────────┬───────────────┬──────────────┬──────────────┬──────────────┬─────────────┬────────────┐
│ VendorID ┆ pickup        ┆ dropoff      ┆ passenger_co ┆ trip_distanc ┆ fare_amount ┆ tip_amount │
│ ---      ┆ ---           ┆ ---          ┆ unt          ┆ e            ┆ ---         ┆ ---        │
│ str      ┆ datetime[μs]  ┆ datetime[μs] ┆ ---          ┆ ---          ┆ f64         ┆ f64        │
│          ┆               ┆              ┆ f64          ┆ f64          ┆             ┆            │
╞══════════╪═══════════════╪══════════════╪══════════════╪══════════════╪═════════════╪════════════╡
│ id5      ┆ 2022-01-01    ┆ 2022-01-01   ┆ 1.0          ┆ 1.18         ┆ 6.5         ┆ 0.0        │
│          ┆ 22:19:54      ┆ 22:25:53     ┆              ┆              ┆             ┆            │
│ id5      ┆ 2022-01-01    ┆ 2022-01-01   ┆ 1.0          ┆ 1.68         ┆ 8.0         ┆ 0.0        │
│          ┆ 22:21:22      ┆ 22:29:58     ┆              ┆              ┆             ┆            │
│ id8      ┆ 2022-01-01    ┆ 2022-01-01   ┆ 1.0          ┆ 3.49         ┆ 13.5        ┆ 0.0        │
│          ┆ 22:25:08      ┆ 22:40:38     ┆              ┆              ┆             ┆            │
│ id6      ┆ 2022-01-01    ┆ 2022-01-02   ┆ 2.0          ┆ 6.7          ┆ 24.5        ┆ 2.0        │
│          ┆ 23:42:30      ┆ 00:10:53     ┆              ┆              ┆             ┆            │
│ id4      ┆ 2022-01-01    ┆ 2022-01-02   ┆ 3.0          ┆ 8.28         ┆ 26.5        ┆ 9.21       │
│          ┆ 23:59:02      ┆ 00:24:05     ┆              ┆              ┆             ┆            │
└──────────┴───────────────┴──────────────┴──────────────┴──────────────┴─────────────┴────────────┘

## Filtering on a datetime range

Using the `is_between` expression

In [14]:
df.filter(
    pl.col("pickup").is_between(
        datetime(2021, 12, 31), datetime(2022, 1, 2)
    )
).head()

shape: (5, 7)
┌──────────┬───────────────┬──────────────┬──────────────┬──────────────┬─────────────┬────────────┐
│ VendorID ┆ pickup        ┆ dropoff      ┆ passenger_co ┆ trip_distanc ┆ fare_amount ┆ tip_amount │
│ ---      ┆ ---           ┆ ---          ┆ unt          ┆ e            ┆ ---         ┆ ---        │
│ str      ┆ datetime[μs]  ┆ datetime[μs] ┆ ---          ┆ ---          ┆ f64         ┆ f64        │
│          ┆               ┆              ┆ f64          ┆ f64          ┆             ┆            │
╞══════════╪═══════════════╪══════════════╪══════════════╪══════════════╪═════════════╪════════════╡
│ id1      ┆ 2022-01-01    ┆ 2022-01-01   ┆ 1.0          ┆ 10.83        ┆ 31.0        ┆ 0.0        │
│          ┆ 00:04:14      ┆ 00:26:12     ┆              ┆              ┆             ┆            │
│ id2      ┆ 2022-01-01    ┆ 2022-01-01   ┆ 1.0          ┆ 3.97         ┆ 14.5        ┆ 3.66       │
│          ┆ 00:32:17      ┆ 00:49:23     ┆              ┆              ┆             ┆            │
│ id8      ┆ 2022-01-01    ┆ 2022-01-01   ┆ 4.0          ┆ 8.44         ┆ 25.5        ┆ 0.0        │
│          ┆ 00:40:58      ┆ 01:00:59     ┆              ┆              ┆             ┆            │
│ id0      ┆ 2022-01-01    ┆ 2022-01-01   ┆ 1.0          ┆ 12.61        ┆ 37.5        ┆ 12.39      │
│          ┆ 00:55:13      ┆ 01:25:49     ┆              ┆              ┆             ┆            │
│ id1      ┆ 2022-01-01    ┆ 2022-01-01   ┆ 1.0          ┆ 1.49         ┆ 6.5         ┆ 0.0        │
│          ┆ 00:55:24      ┆ 01:00:45     ┆              ┆              ┆             ┆            │
└──────────┴───────────────┴──────────────┴──────────────┴──────────────┴─────────────┴────────────┘

## Filtering datetime in lazy mode

In [15]:
print(
    pl.scan_csv(
        csv_file,
        try_parse_dates=True
    ).filter(
        pl.col("pickup") < date(2022, 1, 2)
    ).explain()
)

Csv SCAN [data/nyc_trip_data_1k.csv]
PROJECT */7 COLUMNS
SELECTION: [(col("pickup")) < (2022-01-02 00:00:00)]
ESTIMATED ROWS: 984

## Filtering on a duration

In [16]:
df.select(
    "pickup", "dropoff"
).with_columns(
    (pl.col("dropoff") - pl.col("pickup")).alias("duration")
).head()

shape: (5, 3)
┌─────────────────────┬─────────────────────┬──────────────┐
│ pickup              ┆ dropoff             ┆ duration     │
│ ---                 ┆ ---                 ┆ ---          │
│ datetime[μs]        ┆ datetime[μs]        ┆ duration[μs] │
╞═════════════════════╪═════════════════════╪══════════════╡
│ 2022-01-01 00:04:14 ┆ 2022-01-01 00:26:12 ┆ 21m 58s      │
│ 2022-01-01 00:32:17 ┆ 2022-01-01 00:49:23 ┆ 17m 6s       │
│ 2022-01-01 00:40:58 ┆ 2022-01-01 01:00:59 ┆ 20m 1s       │
│ 2022-01-01 00:55:13 ┆ 2022-01-01 01:25:49 ┆ 30m 36s      │
│ 2022-01-01 00:55:24 ┆ 2022-01-01 01:00:45 ┆ 5m 21s       │
└─────────────────────┴─────────────────────┴──────────────┘

To filter on a duration we use `pl.duration`, this function is different from the dtype `pl.Duration`

In [17]:
df.select(
    "pickup", "dropoff"
).with_columns(
    (pl.col("dropoff") - pl.col("pickup")).alias("duration")
).filter(
    pl.col("duration") < pl.duration(minutes=10)
).head(3)

shape: (3, 3)
┌─────────────────────┬─────────────────────┬──────────────┐
│ pickup              ┆ dropoff             ┆ duration     │
│ ---                 ┆ ---                 ┆ ---          │
│ datetime[μs]        ┆ datetime[μs]        ┆ duration[μs] │
╞═════════════════════╪═════════════════════╪══════════════╡
│ 2022-01-01 00:55:24 ┆ 2022-01-01 01:00:45 ┆ 5m 21s       │
│ 2022-01-01 01:09:34 ┆ 2022-01-01 01:13:46 ┆ 4m 12s       │
│ 2022-01-01 01:40:03 ┆ 2022-01-01 01:48:18 ┆ 8m 15s       │
└─────────────────────┴─────────────────────┴──────────────┘

`dt.total_minutes`, this method only supports for `Duration` type data

In [18]:
df.select(
    "pickup", "dropoff"
).with_columns(
    (pl.col("dropoff") - pl.col("pickup")).alias("duration")
).filter(
    pl.col("duration").dt.total_minutes() < 10
).head(3)

shape: (3, 3)
┌─────────────────────┬─────────────────────┬──────────────┐
│ pickup              ┆ dropoff             ┆ duration     │
│ ---                 ┆ ---                 ┆ ---          │
│ datetime[μs]        ┆ datetime[μs]        ┆ duration[μs] │
╞═════════════════════╪═════════════════════╪══════════════╡
│ 2022-01-01 00:55:24 ┆ 2022-01-01 01:00:45 ┆ 5m 21s       │
│ 2022-01-01 01:09:34 ┆ 2022-01-01 01:13:46 ┆ 4m 12s       │
│ 2022-01-01 01:40:03 ┆ 2022-01-01 01:48:18 ┆ 8m 15s       │
└─────────────────────┴─────────────────────┴──────────────┘

## Exercises

### Exercise 1
Create a `DataFrame` with a daily interval that starts on 1st January 2020 and ends on 31st January 2020

In [19]:
start = date(2020,1,1)
stop = date(2020,1,31)

df = pl.DataFrame({
    "date": pl.date_range(start, stop, interval="1d", eager=True)
})

df

shape: (31, 1)
┌────────────┐
│ date       │
│ ---        │
│ date       │
╞════════════╡
│ 2020-01-01 │
│ 2020-01-02 │
│ 2020-01-03 │
│ 2020-01-04 │
│ 2020-01-05 │
│ …          │
│ 2020-01-27 │
│ 2020-01-28 │
│ 2020-01-29 │
│ 2020-01-30 │
│ 2020-01-31 │
└────────────┘

Find all dates on or after 15th January

In [20]:
df.filter(
    pl.col("date") >= pl.date(2020, 1, 15)
)

shape: (17, 1)
┌────────────┐
│ date       │
│ ---        │
│ date       │
╞════════════╡
│ 2020-01-15 │
│ 2020-01-16 │
│ 2020-01-17 │
│ 2020-01-18 │
│ 2020-01-19 │
│ …          │
│ 2020-01-27 │
│ 2020-01-28 │
│ 2020-01-29 │
│ 2020-01-30 │
│ 2020-01-31 │
└────────────┘

Find all dates between 15th and 20th January including the start date but excluding the end date.

In [22]:
df.filter(
    pl.col("date").is_between(
        pl.date(2020, 1, 15), pl.date(2020, 1, 20), closed="left"
    )
)

shape: (5, 1)
┌────────────┐
│ date       │
│ ---        │
│ date       │
╞════════════╡
│ 2020-01-15 │
│ 2020-01-16 │
│ 2020-01-17 │
│ 2020-01-18 │
│ 2020-01-19 │
└────────────┘

### Exercise 2
Read the NYC taxi dataset with automatic date parsing

In [23]:
pl.read_csv(
    csv_file,
    try_parse_dates=True
).head(3)

shape: (3, 7)
┌──────────┬───────────────┬──────────────┬──────────────┬──────────────┬─────────────┬────────────┐
│ VendorID ┆ pickup        ┆ dropoff      ┆ passenger_co ┆ trip_distanc ┆ fare_amount ┆ tip_amount │
│ ---      ┆ ---           ┆ ---          ┆ unt          ┆ e            ┆ ---         ┆ ---        │
│ str      ┆ datetime[μs]  ┆ datetime[μs] ┆ ---          ┆ ---          ┆ f64         ┆ f64        │
│          ┆               ┆              ┆ f64          ┆ f64          ┆             ┆            │
╞══════════╪═══════════════╪══════════════╪══════════════╪══════════════╪═════════════╪════════════╡
│ id1      ┆ 2022-01-01    ┆ 2022-01-01   ┆ 1.0          ┆ 10.83        ┆ 31.0        ┆ 0.0        │
│          ┆ 00:04:14      ┆ 00:26:12     ┆              ┆              ┆             ┆            │
│ id2      ┆ 2022-01-01    ┆ 2022-01-01   ┆ 1.0          ┆ 3.97         ┆ 14.5        ┆ 3.66       │
│          ┆ 00:32:17      ┆ 00:49:23     ┆              ┆              ┆             ┆            │
│ id8      ┆ 2022-01-01    ┆ 2022-01-01   ┆ 4.0          ┆ 8.44         ┆ 25.5        ┆ 0.0        │
│          ┆ 00:40:58      ┆ 01:00:59     ┆              ┆              ┆             ┆            │
└──────────┴───────────────┴──────────────┴──────────────┴──────────────┴─────────────┴────────────┘

Filter to get all the records with a pickup after 10 PM.

Expand the following collapsed cell if you want a hint.

In [26]:
pl.read_csv(
    csv_file,
    try_parse_dates=True
).filter(
    pl.col("pickup").cast(pl.Time()) > pl.time(22, 0, 0)
).head()

shape: (5, 7)
┌──────────┬───────────────┬──────────────┬──────────────┬──────────────┬─────────────┬────────────┐
│ VendorID ┆ pickup        ┆ dropoff      ┆ passenger_co ┆ trip_distanc ┆ fare_amount ┆ tip_amount │
│ ---      ┆ ---           ┆ ---          ┆ unt          ┆ e            ┆ ---         ┆ ---        │
│ str      ┆ datetime[μs]  ┆ datetime[μs] ┆ ---          ┆ ---          ┆ f64         ┆ f64        │
│          ┆               ┆              ┆ f64          ┆ f64          ┆             ┆            │
╞══════════╪═══════════════╪══════════════╪══════════════╪══════════════╪═════════════╪════════════╡
│ id6      ┆ 2022-01-01    ┆ 2022-01-01   ┆ 1.0          ┆ 6.86         ┆ 22.5        ┆ 7.89       │
│          ┆ 22:18:41      ┆ 22:39:40     ┆              ┆              ┆             ┆            │
│ id5      ┆ 2022-01-01    ┆ 2022-01-01   ┆ 1.0          ┆ 1.18         ┆ 6.5         ┆ 0.0        │
│          ┆ 22:19:54      ┆ 22:25:53     ┆              ┆              ┆             ┆            │
│ id5      ┆ 2022-01-01    ┆ 2022-01-01   ┆ 1.0          ┆ 1.68         ┆ 8.0         ┆ 0.0        │
│          ┆ 22:21:22      ┆ 22:29:58     ┆              ┆              ┆             ┆            │
│ id8      ┆ 2022-01-01    ┆ 2022-01-01   ┆ 1.0          ┆ 3.49         ┆ 13.5        ┆ 0.0        │
│          ┆ 22:25:08      ┆ 22:40:38     ┆              ┆              ┆             ┆            │
│ id6      ┆ 2022-01-01    ┆ 2022-01-02   ┆ 2.0          ┆ 6.7          ┆ 24.5        ┆ 2.0        │
│          ┆ 23:42:30      ┆ 00:10:53     ┆              ┆              ┆             ┆            │
└──────────┴───────────────┴──────────────┴──────────────┴──────────────┴─────────────┴────────────┘

Add a column that calculates the difference in pickup time between successive rows called `pickup_delta`

In [27]:
pl.read_csv(
    csv_file,
    try_parse_dates=True
).with_columns(
    (pl.col("pickup").diff()).alias("pickup_delta")
).head(3)

shape: (3, 8)
┌──────────┬────────────┬────────────┬────────────┬────────────┬───────────┬───────────┬───────────┐
│ VendorID ┆ pickup     ┆ dropoff    ┆ passenger_ ┆ trip_dista ┆ fare_amou ┆ tip_amoun ┆ pickup_de │
│ ---      ┆ ---        ┆ ---        ┆ count      ┆ nce        ┆ nt        ┆ t         ┆ lta       │
│ str      ┆ datetime[μ ┆ datetime[μ ┆ ---        ┆ ---        ┆ ---       ┆ ---       ┆ ---       │
│          ┆ s]         ┆ s]         ┆ f64        ┆ f64        ┆ f64       ┆ f64       ┆ duration[ │
│          ┆            ┆            ┆            ┆            ┆           ┆           ┆ μs]       │
╞══════════╪════════════╪════════════╪════════════╪════════════╪═══════════╪═══════════╪═══════════╡
│ id1      ┆ 2022-01-01 ┆ 2022-01-01 ┆ 1.0        ┆ 10.83      ┆ 31.0      ┆ 0.0       ┆ null      │
│          ┆ 00:04:14   ┆ 00:26:12   ┆            ┆            ┆           ┆           ┆           │
│ id2      ┆ 2022-01-01 ┆ 2022-01-01 ┆ 1.0        ┆ 3.97       ┆ 14.5      ┆ 3.66      ┆ 28m 3s    │
│          ┆ 00:32:17   ┆ 00:49:23   ┆            ┆            ┆           ┆           ┆           │
│ id8      ┆ 2022-01-01 ┆ 2022-01-01 ┆ 4.0        ┆ 8.44       ┆ 25.5      ┆ 0.0       ┆ 8m 41s    │
│          ┆ 00:40:58   ┆ 01:00:59   ┆            ┆            ┆           ┆           ┆           │
└──────────┴────────────┴────────────┴────────────┴────────────┴───────────┴───────────┴───────────┘

Filter to find all records that started less than 3 minutes after the previous pickup

In [ ]:
pl.read_csv(csv_file, try_parse_dates=True).with_columns(
    (pl.col("pickup").diff()).alias("pickup_delta")
).filter(
    pl.col("pickup_delta")
    < pl.duration(minutes=3)  # the return value data type of diff is duration
)

shape: (198, 8)
┌──────────┬────────────┬────────────┬────────────┬────────────┬───────────┬───────────┬───────────┐
│ VendorID ┆ pickup     ┆ dropoff    ┆ passenger_ ┆ trip_dista ┆ fare_amou ┆ tip_amoun ┆ pickup_de │
│ ---      ┆ ---        ┆ ---        ┆ count      ┆ nce        ┆ nt        ┆ t         ┆ lta       │
│ str      ┆ datetime[μ ┆ datetime[μ ┆ ---        ┆ ---        ┆ ---       ┆ ---       ┆ ---       │
│          ┆ s]         ┆ s]         ┆ f64        ┆ f64        ┆ f64       ┆ f64       ┆ duration[ │
│          ┆            ┆            ┆            ┆            ┆           ┆           ┆ μs]       │
╞══════════╪════════════╪════════════╪════════════╪════════════╪═══════════╪═══════════╪═══════════╡
│ id1      ┆ 2022-01-01 ┆ 2022-01-01 ┆ 1.0        ┆ 1.49       ┆ 6.5       ┆ 0.0       ┆ 11s       │
│          ┆ 00:55:24   ┆ 01:00:45   ┆            ┆            ┆           ┆           ┆           │
│ id6      ┆ 2022-01-01 ┆ 2022-01-01 ┆ 1.0        ┆ 1.32       ┆ 7.5       ┆ 2.26      ┆ 1m 1s     │
│          ┆ 01:40:03   ┆ 01:48:18   ┆            ┆            ┆           ┆           ┆           │
│ id1      ┆ 2022-01-01 ┆ 2022-01-01 ┆ 1.0        ┆ 5.01       ┆ 16.0      ┆ 3.96      ┆ 1m 38s    │
│          ┆ 03:04:44   ┆ 03:20:43   ┆            ┆            ┆           ┆           ┆           │
│ id7      ┆ 2022-01-01 ┆ 2022-01-01 ┆ 3.0        ┆ 1.74       ┆ 8.5       ┆ 2.95      ┆ 2m 30s    │
│          ┆ 11:43:03   ┆ 11:53:28   ┆            ┆            ┆           ┆           ┆           │
│ id1      ┆ 2022-01-01 ┆ 2022-01-01 ┆ 1.0        ┆ 1.49       ┆ 7.5       ┆ 2.7       ┆ 1m 20s    │
│          ┆ 11:44:23   ┆ 11:52:10   ┆            ┆            ┆           ┆           ┆           │
│ …        ┆ …          ┆ …          ┆ …          ┆ …          ┆ …         ┆ …         ┆ …         │
│ id7      ┆ 2022-01-14 ┆ 2022-01-14 ┆ 1.0        ┆ 2.9        ┆ 13.5      ┆ 3.36      ┆ 2m 6s     │
│          ┆ 14:44:45   ┆ 15:04:08   ┆            ┆            ┆           ┆           ┆           │
│ id6      ┆ 2022-01-14 ┆ 2022-01-14 ┆ 2.0        ┆ 1.1        ┆ 5.5       ┆ 2.45      ┆ 44s       │
│          ┆ 17:15:23   ┆ 17:19:34   ┆            ┆            ┆           ┆           ┆           │
│ id1      ┆ 2022-01-14 ┆ 2022-01-14 ┆ 5.0        ┆ 1.62       ┆ 7.5       ┆ 2.36      ┆ 1m 20s    │
│          ┆ 17:16:43   ┆ 17:24:05   ┆            ┆            ┆           ┆           ┆           │
│ id0      ┆ 2022-01-14 ┆ 2022-01-14 ┆ 1.0        ┆ 1.07       ┆ 9.0       ┆ 0.0       ┆ 1m        │
│          ┆ 18:20:51   ┆ 18:34:09   ┆            ┆            ┆           ┆           ┆           │
│ id2      ┆ 2022-01-14 ┆ 2022-01-14 ┆ 3.0        ┆ 0.92       ┆ 5.5       ┆ 2.45      ┆ 1m 45s    │
│          ┆ 18:34:11   ┆ 18:39:18   ┆            ┆            ┆           ┆           ┆           │
└──────────┴────────────┴────────────┴────────────┴────────────┴───────────┴───────────┴───────────┘