# Excel files

In [1]:
from pathlib import Path

import polars as pl

In [2]:
csv_file = "data/titanic.csv"

## Creating an Excel file

To write data to an Excel file, we need the XlsxWriter package.

In [3]:
# Specify a directory to hold the excel files as a Path object
excel_titanic_dir = Path('data/excel/titanic')

# Set the file name of the Excel file
excelFile = "titanic.xlsx"

# Create the Titanic sub-directory if it doesn't exist already
excel_titanic_dir.mkdir(parents=True,exist_ok=True)

# Set the path to the Titanic excel file
titanic_excel_path = excel_titanic_dir / excelFile

Write data to Excel

In [4]:
df = pl.read_csv(csv_file)

df.write_excel(titanic_excel_path)

## Reading from a spreadsheet

In [5]:
df = pl.read_excel(titanic_excel_path)

df.head(2)

shape: (2, 12)
┌─────────────┬──────────┬────────┬───────────────────┬───┬───────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name              ┆ … ┆ Ticket    ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---               ┆   ┆ ---       ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str               ┆   ┆ str       ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═══════════════════╪═══╪═══════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen  ┆ … ┆ A/5 21171 ┆ 7.25    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Harris            ┆   ┆           ┆         ┆       ┆          │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.     ┆ … ┆ PC 17599  ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ John Bradley (Fl… ┆   ┆           ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴───────────────────┴───┴───────────┴─────────┴───────┴──────────┘

## Specifying the output `DataFrame`

Reading Excel files happens in eager mode only, we cannot do a lazy scan of an Excel file.

In [6]:
pl.read_excel(
    titanic_excel_path,
    columns=["Name", "Age"]    
).head(2)

shape: (2, 2)
┌─────────────────────────────────┬──────┐
│ Name                            ┆ Age  │
│ ---                             ┆ ---  │
│ str                             ┆ f64  │
╞═════════════════════════════════╪══════╡
│ Braund, Mr. Owen Harris         ┆ 22.0 │
│ Cumings, Mrs. John Bradley (Fl… ┆ 38.0 │
└─────────────────────────────────┴──────┘

In [7]:
pl.read_excel(
    titanic_excel_path,
    columns=[3,5]    
).head(2)

shape: (2, 2)
┌─────────────────────────────────┬──────┐
│ Name                            ┆ Age  │
│ ---                             ┆ ---  │
│ str                             ┆ f64  │
╞═════════════════════════════════╪══════╡
│ Braund, Mr. Owen Harris         ┆ 22.0 │
│ Cumings, Mrs. John Bradley (Fl… ┆ 38.0 │
└─────────────────────────────────┴──────┘

In [8]:
pl.read_excel(
    titanic_excel_path,
    infer_schema_length=200, # The max rows to scan
    schema_overrides={
        "Pclass": pl.Int32
    }
).head(2)

shape: (2, 12)
┌─────────────┬──────────┬────────┬───────────────────┬───┬───────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name              ┆ … ┆ Ticket    ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---               ┆   ┆ ---       ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i32    ┆ str               ┆   ┆ str       ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═══════════════════╪═══╪═══════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen  ┆ … ┆ A/5 21171 ┆ 7.25    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Harris            ┆   ┆           ┆         ┆       ┆          │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.     ┆ … ┆ PC 17599  ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ John Bradley (Fl… ┆   ┆           ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴───────────────────┴───┴───────────┴─────────┴───────┴──────────┘

## Choosing a worksheet
Choose a worksheet with either integer id numbers or names.

### Specifying with id numbers

In [9]:
sheet_dict = pl.read_excel(
    titanic_excel_path,
    sheet_id=0 # return all sheets as a dict, 1 for returning 1st sheet
)

sheet_dict.keys()

dict_keys(['Sheet1'])

Designate the sheet we like

In [10]:
pl.read_excel(
    titanic_excel_path,
    sheet_name="Sheet1"
).head(2)

shape: (2, 12)
┌─────────────┬──────────┬────────┬───────────────────┬───┬───────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name              ┆ … ┆ Ticket    ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---               ┆   ┆ ---       ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str               ┆   ┆ str       ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═══════════════════╪═══╪═══════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen  ┆ … ┆ A/5 21171 ┆ 7.25    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Harris            ┆   ┆           ┆         ┆       ┆          │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.     ┆ … ┆ PC 17599  ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ John Bradley (Fl… ┆   ┆           ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴───────────────────┴───┴───────────┴─────────┴───────┴──────────┘

### Choosing the engine
Polars uses third party libraries to parse the Excel file. 

The library used to parse the Excel file is called the *engine*. 

The current options are:
- `calamine` (the default)
- `xlsx2csv` (the pre version 1.0 default)
- `openpyxl`
- `pyxlsb` (for Excel binary worksbooks only)

The `calamine` engine is much faster than the other options and should be used if possible. 

However, it is based on newer packages and has fewer features for parsing data.

#### xlsx2csv

In [11]:
df = pl.read_excel(
    titanic_excel_path,
    engine="xlsx2csv"
)

df.head(2)

shape: (2, 12)
┌─────────────┬──────────┬────────┬───────────────────┬───┬───────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name              ┆ … ┆ Ticket    ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---               ┆   ┆ ---       ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str               ┆   ┆ str       ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═══════════════════╪═══╪═══════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen  ┆ … ┆ A/5 21171 ┆ 7.25    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Harris            ┆   ┆           ┆         ┆       ┆          │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.     ┆ … ┆ PC 17599  ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ John Bradley (Fl… ┆   ┆           ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴───────────────────┴───┴───────────┴─────────┴───────┴──────────┘

#### calamine
The calamine engine relies on two Rust crates:
- `calamine` which parses the spreadsheet XML and
- `fastexcel` which converts the data to an Apache Arrow table

In [12]:
pl.read_excel(
    titanic_excel_path,
    read_options={
        "skip_rows": 1
    }
).head(2)

shape: (2, 12)
┌─────────────┬──────────┬────────┬────────────────────┬───┬──────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name               ┆ … ┆ Ticket   ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                ┆   ┆ ---      ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                ┆   ┆ str      ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪════════════════════╪═══╪══════════╪═════════╪═══════╪══════════╡
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs. John ┆ … ┆ PC 17599 ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ Bradley (Fl…       ┆   ┆          ┆         ┆       ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss.   ┆ … ┆ STON/O2. ┆ 7.925   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Laina              ┆   ┆ 3101282  ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴────────────────────┴───┴──────────┴─────────┴───────┴──────────┘

### Which engine should I use?
Use `calamine` if possible as it is much faster.

However, if your data does not load correctly using calamine (e.g. the dtypes are not correctly inferred) then there is more documentation explaining how to manage this with the `xlsxcsv` engine.

Parsing the `XML` in Excel files is always slow. 

Consider working with `Parquet` if possible, and even `CSVs` are much faster than parsing spreadsheets!

## Writing to a spreadsheet

In [13]:
df.write_excel(
    titanic_excel_path
)

### Formatting the worksheet

In [14]:
df.write_excel(
    titanic_excel_path,
    table_style="Table Style Medium2",
    column_widths={col:100 for col in df.columns},
    column_formats={"Age": "0.000"}
)

In [ ]:
df.write_excel(
    titanic_excel_path,
    table_style="Table Style Medium2",
    column_widths={col:100 for col in df.columns},
    column_formats={"Age": "0.000"}
)

### Formatting values

In [16]:
df.write_excel(
    titanic_excel_path,
    table_style="Table Style Medium2",
    column_formats={"Age": "0.000"}
)

In [17]:
df.write_excel(
    titanic_excel_path,
    table_style="Table Style Medium2",
    float_precision=4 # format floats easily
)

### Conditional formatting
We can apply conditional formatting using the options allowed by Xlswriter

In [18]:
df.write_excel(
    titanic_excel_path,
    table_style="Table Style Medium2",
    autofit=True,
    float_precision=3,
    conditional_formats={"Age": "data_bar", "Fare": "3_color_scale"}
)

### Sparklines
We can add sparklines to give a simple visualisation of trends along a row.

In [27]:
df.group_by(
    "Pclass"
).agg(
    pl.col("Age").mean(),
    pl.col("Fare").mean(),
    pl.col("Survived").count()
).with_columns(
    index=pl.lit(0)
).unpivot(index=["Pclass"]).pivot(
    index="variable",
    on="Pclass",
    values="value",
    aggregate_function="first"
).pipe(
    lambda df: df.select("variable", "1", "2", "3")
).write_excel(
    excel_titanic_dir / "titanic_groupby.xlsx",
    table_style="Table Style Medium 2",
    autofit=True,
    sparklines={"trend": ["1","2","3"]}
)

## Exercises

### Exercise 1
Create a `DataFrame` from the NYC taxi extract and write it to an Excel file called `nyc.xlsx`

In [ ]:
nyccsv_file = "data/nyc_trip_data_1k.csv"

# Make a Path variable to write the 
nycExcelFile = Path('data/excel/nyc')
nycExcelFile.mkdir(parents=True,exist_ok=True)
(
    pl.read_csv(nyccsv_file).write_excel(
        nycExcelFile / "nyc.xlsx"
    )
)

Write the `DataFrame` to the same file but with a bar chart in the `trip_distance` column and a colormap in the `tip_amount` column

In [30]:
pl.read_csv(nyccsv_file).write_excel(
        nycExcelFile / "nyc.xlsx",
        conditional_formats={"trip_distance": "data_bar", "tip_amount": "3_color_scale"}
    )

Create a `DataFrame` from the `nyc.xlsx` file with the `pickup` and `dropoff` columns as datetime dtypes using the `xlsx2csv` engine

In [32]:
pl.read_excel(
    nycExcelFile / "nyc.xlsx",
    engine="xlsx2csv",
    read_options={"try_parse_dates": True}
).head()

shape: (5, 7)
┌──────────┬───────────────┬──────────────┬──────────────┬──────────────┬─────────────┬────────────┐
│ VendorID ┆ pickup        ┆ dropoff      ┆ passenger_co ┆ trip_distanc ┆ fare_amount ┆ tip_amount │
│ ---      ┆ ---           ┆ ---          ┆ unt          ┆ e            ┆ ---         ┆ ---        │
│ str      ┆ datetime[μs]  ┆ datetime[μs] ┆ ---          ┆ ---          ┆ f64         ┆ f64        │
│          ┆               ┆              ┆ i64          ┆ f64          ┆             ┆            │
╞══════════╪═══════════════╪══════════════╪══════════════╪══════════════╪═════════════╪════════════╡
│ id1      ┆ 2022-01-01    ┆ 2022-01-01   ┆ 1            ┆ 10.83        ┆ 31.0        ┆ 0.0        │
│          ┆ 00:04:14      ┆ 00:26:12     ┆              ┆              ┆             ┆            │
│ id2      ┆ 2022-01-01    ┆ 2022-01-01   ┆ 1            ┆ 3.97         ┆ 14.5        ┆ 3.66       │
│          ┆ 00:32:17      ┆ 00:49:23     ┆              ┆              ┆             ┆            │
│ id8      ┆ 2022-01-01    ┆ 2022-01-01   ┆ 4            ┆ 8.44         ┆ 25.5        ┆ 0.0        │
│          ┆ 00:40:58      ┆ 01:00:59     ┆              ┆              ┆             ┆            │
│ id0      ┆ 2022-01-01    ┆ 2022-01-01   ┆ 1            ┆ 12.61        ┆ 37.5        ┆ 12.39      │
│          ┆ 00:55:13      ┆ 01:25:49     ┆              ┆              ┆             ┆            │
│ id1      ┆ 2022-01-01    ┆ 2022-01-01   ┆ 1            ┆ 1.49         ┆ 6.5         ┆ 0.0        │
│          ┆ 00:55:24      ┆ 01:00:45     ┆              ┆              ┆             ┆            │
└──────────┴───────────────┴──────────────┴──────────────┴──────────────┴─────────────┴────────────┘

### Exercise 2
Get the average of all the floating point columns by day of the week of `pickup`

Sort the output by the day of the week

In [34]:
pl.read_csv(
    nyccsv_file,
    try_parse_dates=True
).group_by(
    pl.col("pickup").dt.weekday()
).agg(
    pl.col(pl.Float64).mean()
).sort("pickup")

shape: (7, 5)
┌────────┬─────────────────┬───────────────┬─────────────┬────────────┐
│ pickup ┆ passenger_count ┆ trip_distance ┆ fare_amount ┆ tip_amount │
│ ---    ┆ ---             ┆ ---           ┆ ---         ┆ ---        │
│ i8     ┆ f64             ┆ f64           ┆ f64         ┆ f64        │
╞════════╪═════════════════╪═══════════════╪═════════════╪════════════╡
│ 1      ┆ 1.39375         ┆ 3.44275       ┆ 14.379375   ┆ 2.5424375  │
│ 2      ┆ 1.422078        ┆ 2.497468      ┆ 10.961039   ┆ 2.063831   │
│ 3      ┆ 1.38            ┆ 2.695733      ┆ 11.512667   ┆ 1.989267   │
│ 4      ┆ 1.309353        ┆ 3.308993      ┆ 13.406475   ┆ 2.728633   │
│ 5      ┆ 1.319672        ┆ 2.601148      ┆ 10.827869   ┆ 2.285574   │
│ 6      ┆ 1.524138        ┆ 4.189724      ┆ 15.073793   ┆ 2.611241   │
│ 7      ┆ 1.484615        ┆ 5.569462      ┆ 18.416923   ┆ 3.492      │
└────────┴─────────────────┴───────────────┴─────────────┴────────────┘

Reshape the output so that there is one column of variable names and a column for each day of the week

In [36]:
pl.read_csv(
    nyccsv_file,
    try_parse_dates=True
).group_by(
    pl.col("pickup").dt.weekday()
).agg(
    pl.col(pl.Float64).mean()
).sort("pickup").unpivot(
    index="pickup"
).pivot(
    index="variable",
    on="pickup",
    values="value",
    aggregate_function="first"
)

shape: (4, 8)
┌──────────────┬───────────┬───────────┬───────────┬───────────┬───────────┬───────────┬───────────┐
│ variable     ┆ 1         ┆ 2         ┆ 3         ┆ 4         ┆ 5         ┆ 6         ┆ 7         │
│ ---          ┆ ---       ┆ ---       ┆ ---       ┆ ---       ┆ ---       ┆ ---       ┆ ---       │
│ str          ┆ f64       ┆ f64       ┆ f64       ┆ f64       ┆ f64       ┆ f64       ┆ f64       │
╞══════════════╪═══════════╪═══════════╪═══════════╪═══════════╪═══════════╪═══════════╪═══════════╡
│ passenger_co ┆ 1.39375   ┆ 1.422078  ┆ 1.38      ┆ 1.309353  ┆ 1.319672  ┆ 1.524138  ┆ 1.484615  │
│ unt          ┆           ┆           ┆           ┆           ┆           ┆           ┆           │
│ trip_distanc ┆ 3.44275   ┆ 2.497468  ┆ 2.695733  ┆ 3.308993  ┆ 2.601148  ┆ 4.189724  ┆ 5.569462  │
│ e            ┆           ┆           ┆           ┆           ┆           ┆           ┆           │
│ fare_amount  ┆ 14.379375 ┆ 10.961039 ┆ 11.512667 ┆ 13.406475 ┆ 10.827869 ┆ 15.073793 ┆ 18.416923 │
│ tip_amount   ┆ 2.5424375 ┆ 2.063831  ┆ 1.989267  ┆ 2.728633  ┆ 2.285574  ┆ 2.611241  ┆ 3.492     │
└──────────────┴───────────┴───────────┴───────────┴───────────┴───────────┴───────────┴───────────┘

Write the reshaped output to an excel file called `nyc_day_of_week.xlsx` in the same directory as above. 

Add sparklines to show the trend across the days of the week.

In [39]:
pl.read_csv(
    nyccsv_file,
    try_parse_dates=True
).group_by(
    pl.col("pickup").dt.weekday()
).agg(
    pl.col(pl.Float64).mean()
).sort("pickup").unpivot(
    index="pickup"
).pivot(
    index="variable",
    on="pickup",
    values="value",
    aggregate_function="first"
).write_excel(
    workbook=nycExcelFile / "nyc_day_of_week.xlsx",
    sparklines={"trend":[str(idx) for idx in range(1,8)]},
    column_widths={"variable":100}
)